// _footer.scss

footer {
    padding: $xl 0;
    color: white;

    @extend %light-blue-top-to-dark-blue-bottom;

    a {
        color: white;

        &:hover,
        &:focus {
            color: $white;
            border-bottom-color: $white;
        }
    }

    div[class^='region region-'] {
        position: relative;
        clear: both;
    }

    .container {
        nav {
            @media (min-width: 768px) {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }

    li {
        list-style: none;
    }

    .region-footer-lower {
        margin-top: 2em;

        p {
            text-align: center;
        }
    }

    h2 {
        margin: 0;

        a {
            font-size: 14px;
            font-weight: bold;
            color: $white;

            &:hover,
            &:focus {
                color: $white;
                border-bottom-color: $white;
            }
        }
    }

    ul.menu {
        padding-left: 0;

        li {
            margin: 0;
            list-style-type: none;
            list-style-image: none;
        }
    }

    #footer_first {
        .col-md-3 {
            ul.menu a {
                color: white;
            }
        }

        // Social media Follow icons
        > nav {
            &:last-child {
                a {
                    position: relative;
                    display: inline-block;
                    width: 2em;
                    height: 2em;
                    margin-right: 1em;

                    > svg {
                        display: block;
                        width: auto;
                        height: 100%;

                        path {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }

    // Apply top and bottom margins to footer sections
    div[id^='footer_'] {
        margin: 1.5em 0;

        &:after {
            position: relative;
            display: block;
            clear: both;
            content: ' ';
        }
    }

    hr {
        clear: both;
        border: none;
        border-top: solid 1px $white;
    }
}

.region-bottom {
    .block {
        text-align: center;
    }
}

.region-footer-lower {
    #block-block-21,
    #block-block-11 {
        padding: 0 15px;

        @include desktop {
            max-width: 800px;
            margin: 0 auto;
        }


        p {
            font-size: .85rem;
        }
    }
}