#block-menu-menu-about-us ul > li, .mean-container .mean-bar nav.mean-nav ul.menu > li, .block-menu-block .menu-name-menu-header-links-menu .menu {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }

#block-menu-menu-about-us ul > li, .mean-container .mean-bar a.meanclose, .mean-container .mean-bar nav.mean-nav ul.menu, .mean-container .mean-bar nav.mean-nav ul.menu > li {
  margin: 0; }

#block-menu-menu-about-us ul > li, .mean-container .mean-bar a.meanclose, .mean-container .mean-bar nav.mean-nav ul.menu, .mean-container .mean-bar nav.mean-nav ul.menu > li {
  padding: 0; }

a, a:active, body.front a, .mean-container .mean-bar nav.mean-nav ul.menu li a {
  border: solid 2px transparent; }

/*@mixin ie {
    _:-ms-lang(x), .ie10up {
        @content;
    }
}*/
/******************
 * Builder classes
 *****************/
.floatleft {
  float: left; }

.floatright {
  float: right; }

.floatnone {
  float: none; }

.clearleft {
  clear: left; }

.clearright {
  clear: right; }

.clearboth {
  clear: both; }

/* _typography.scss*/
/**
 * Fix fonts that render as bold in Firefox
 *
 * Put this near the top of your style.css
 * Before any overriding styles:
 * https://www.lockedowndesign.com/firefox-font-weight-too-bold/
 */
html {
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

/**
 * Firefox specific rule
 */
@-moz-document url-prefix() {
  body {
    font-weight: lighter !important; } }
html {
  font-size: 18px;
  text-rendering: optimizeLegibility; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    html {
      text-rendering: auto; } }

body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 18px; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    body {
      font-family: "Helvetica", sans-serif, "Times New Roman" !important; } }
  body #region-content p,
  body #region-content span,
  body #region-content ul,
  body #region-content ol,
  body #region-content li,
  body #region-content dd,
  body #region-content dt,
  body #region-content dl,
  body #region-content table,
  body #region-content td,
  body #region-content th,
  body #region-content address,
  body #region-content blockquote,
  body #region-content a {
    font-size: unset; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 18px 0 6px 0;
  margin: 1em 0 .33em 0; }

h2,
h3,
h4,
h5,
h6 {
  color: #005677 !important; }

h1 {
  font-size: 52px;
  font-size: 2.889rem;
  color: #000; }
  h1.page-header {
    padding-bottom: 0; }

#main-body h1 {
  color: #000; }

h2 {
  font-size: 40px;
  font-size: 2.222rem; }

h3 {
  font-size: 31px;
  font-size: 1.722rem; }

h4 {
  font-size: 25px;
  font-size: 1.389rem; }

h5 {
  font-size: 22px;
  font-size: 1.222em;
  font-weight: 600; }

h6 {
  font-size: 22px;
  font-size: 1.222em;
  font-style: italic; }

p {
  font-size: 18px;
  font-size: 1em;
  line-height: 1.44;
  margin: 0 0 8px;
  margin: 0 0 .4444em; }

p:last-child {
  margin-bottom: .4444em; }

li {
  margin: 8px 0;
  margin: .6em 0; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

a {
  color: #005677;
  border-bottom: dotted 2px #005677; }
  a[tabindex] {
    border: none; }
  a:focus, a:hover, a:active {
    text-decoration: none; }
  a:focus {
    color: #005677;
    border: solid 2px rgba(0, 86, 119, 0.6); }
  a:hover {
    color: #005677;
    border-bottom: solid 2px #005677; }
  a:active {
    color: #FFFFFF;
    background-color: #022C41; }

body.front a:hover {
  border-bottom-color: #005677; }
body.front a:active {
  border-bottom-color: transparent; }

hr {
  clear: both;
  border: none;
  border-top: solid 1px #cccccc; }

td,
th {
  padding: .5em;
  border-spacing: 1em;
  border: black solid 1px; }

header,
footer,
.tabs,
#block-block-26,
#block-block-41 {
  display: none; }

#region-content {
  display: block; }

.block-crumbs-wrapper {
  display: none;
  margin: 1em 0; }
  @media (min-width: 992px) {
    .block-crumbs-wrapper {
      display: block; } }
  .block-crumbs-wrapper li + li:before {
    padding: 0;
    content: '> ';
    color: black; }
  .block-crumbs-wrapper .breadcrumb {
    padding: 0;
    background-color: transparent; }
    .block-crumbs-wrapper .breadcrumb a {
      color: #005677;
      border-bottom: solid 2px transparent; }
      .block-crumbs-wrapper .breadcrumb a:hover {
        border-bottom: solid 2px #005677; }

#top p.beta {
  font-size: xx-large;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: black; }
#top .beta p {
  margin: 0;
  text-align: center;
  background-color: black; }
  #top .beta p a {
    color: white; }
  #top .beta p .btn {
    margin: 1em; }

/*.button{
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: $white;
  border: 0;
  appearance: none;
  

  &:hover,
  &:focus {
    color: $black;
    background-color: $minor-teal-2;
  }

  &:active {
    color: $white;
    background-color: $minor-navy;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;

    &:hover {
      background-color: $minor-navy;
    }
  }
}*/
.btn-primary,
.btn-info,
.btn-default {
  transition: .3s;
  color: white;
  border-color: #00283e;
  background-color: #005677; }
  .btn-primary:hover, .btn-primary:focus,
  .btn-info:hover,
  .btn-info:focus,
  .btn-default:hover,
  .btn-default:focus {
    border-color: #00283e;
    background-color: #58595b; }
  .btn-primary:active,
  .btn-info:active,
  .btn-default:active {
    color: #FFFFFF;
    background-color: #00283e; }
  .btn-primary:disabled,
  .btn-info:disabled,
  .btn-default:disabled {
    cursor: not-allowed;
    opacity: .5; }
    .btn-primary:disabled:hover,
    .btn-info:disabled:hover,
    .btn-default:disabled:hover {
      background-color: #00283e; }

.btn-primary:hover, .btn-primary:focus {
  color: white;
  border-color: #00283e;
  background-color: #58595b; }
.btn-primary:active {
  color: #FFFFFF;
  background-color: #00283e; }

#edit-reset:hover, #edit-reset:focus {
  color: white;
  border-color: #00283e;
  background-color: #58595b; }
#edit-reset:active {
  color: #FFFFFF;
  background-color: #00283e; }

.views-exposed-form .views-exposed-widget .btn {
  font-size: .9em;
  margin-top: 2.9em; }

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'Montserrat', sans-serif;
  font-size: inherit; }

/*webform button and spacing - general feedback form*/
#webform-client-form-13321 {
  margin-bottom: 1em; }

#region-content div.form-actions {
  margin-top: -2em; }

/*webform button and spacing - beta banner feedback form*/
#webform-client-form-13336 {
  max-width: 1170px;
  padding-bottom: 1em;
  margin: auto; }
  #webform-client-form-13336 button {
    float: right;
    margin-top: -2em; }

#print-crest {
  display: none; }
  @media print {
    #print-crest {
      display: block; }
      #print-crest a:after {
        display: none; } }

.logos {
  margin: 0 !important; }
  @media (min-width: 992px) {
    .logos {
      float: left !important; } }
  .logos .coa-inline {
    float: none; }
    @media (max-width: 480px) {
      .logos .coa-inline {
        position: relative;
        z-index: 500;
        left: -2em;
        zoom: 1;
        transform: scale(0.8); } }
    @media (min-width: 992px) {
      .logos .coa-inline {
        float: left; } }
    @media print {
      .logos .coa-inline {
        display: block;
        width: 100%; } }
  .logos .coa-titles {
    font-family: 'Times New Roman', Arial;
    font-weight: bold;
    position: relative;
    width: 100%;
    min-height: 8.5em;
    text-shadow: none; }
    .logos .coa-titles a {
      position: absolute;
      z-index: 500;
      top: 0;
      display: block;
      width: 20em;
      padding: 1em;
      border-color: transparent; }
      @media (max-width: 768px) {
        .logos .coa-titles a {
          left: -2em;
          width: 22em;
          padding: 1em 0;
          transform: scale(0.8); } }
      @media (min-width: 768px) {
        .logos .coa-titles a {
          left: 0;
          transform: none; } }
      @media (min-width: 992px) {
        .logos .coa-titles a {
          position: relative;
          width: auto; } }
      .logos .coa-titles a:hover {
        border-bottom-color: #FFFFFF; }
      .logos .coa-titles a:active {
        border-color: transparent; }
      .logos .coa-titles a:after {
        position: relative;
        clear: both;
        width: 100%;
        content: ''; }
    .logos .coa-titles span {
      display: block;
      border: none; }
      .logos .coa-titles span:first-child {
        margin-bottom: 3px;
        padding-bottom: 3px !important;
        border-bottom: solid 1px #FFFFFF; }
        @media print {
          .logos .coa-titles span:first-child {
            border-bottom: solid 1px #000000; } }
      .logos .coa-titles span:last-child {
        margin-top: 3px; }
    .logos .coa-titles p {
      margin: 0;
      padding: 0;
      color: #FFFFFF; }
    .logos .coa-titles .coa-img {
      float: left;
      max-width: 6.5em; }
      @media print {
        .logos .coa-titles .coa-img {
          width: 6rem; } }
      .logos .coa-titles .coa-img + div {
        float: left;
        margin: 20px 0 0 10px; }
        .logos .coa-titles .coa-img + div + p {
          font-size: 2em;
          font-weight: bold;
          position: absolute;
          top: 2rem;
          right: -6rem; }
    .logos .coa-titles .coa-img,
    .logos .coa-titles span[class*='coa-lines-'] {
      padding: 0;
      color: #FFFFFF; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .logos .coa-titles {
    min-width: 20em; } }
#webform-client-form-13321 {
  margin-top: 1em; }
  #webform-client-form-13321 label {
    padding-left: 0;
    color: #000000; }
  #webform-client-form-13321 .form-actions {
    margin-top: 1em;
    text-align: right; }
    #webform-client-form-13321 .form-actions button {
      color: white; }
  #webform-client-form-13321 .webform-component-radios.form-group {
    margin-bottom: 0; }
    #webform-client-form-13321 .webform-component-radios.form-group > label.control-label {
      font-weight: bold; }
  #webform-client-form-13321 .webform-component-radios input[id^='edit-submitted-rating-'] {
    position: relative;
    margin-right: 5px; }

img {
  max-width: 100%; }

/* Branding images on std page */
.field-name-field-branding-banner img {
  padding: 2em; }

/*home page news items*/
.pane-latest-news.col-sm-12 .node-image-upload {
  padding: 1em 0; }

/*@include desktop {
	/*home page news items
.pane-latest-news.col-sm-12 .node-image-upload{
	margin-left: 13px;
    padding: 1em 0;

}}*/
#skip-links a {
  visibility: none;
  width: 100%;
  padding: .5em;
  color: #FFFFFF;
  background-color: #58595b; }
  #skip-links a:focus, #skip-links a:active {
    display: block; }

/*Strategic plan floating menu*/
#block-block-61 {
  position: relative; }
  #block-block-61 ul li {
    list-style-type: none; }

#block-menu-menu-about-us {
  display: none;
  clear: both; }
  #block-menu-menu-about-us ul {
    margin: 0; }
    #block-menu-menu-about-us ul li {
      padding: .75em 0 .75em .75em;
      border-bottom: solid 1px #FFFFFF; }
      #block-menu-menu-about-us ul li:last-child {
        border: none; }
      #block-menu-menu-about-us ul li a {
        display: inline;
        color: #FFFFFF !important; }
        #block-menu-menu-about-us ul li a:hover, #block-menu-menu-about-us ul li a:focus {
          border-bottom-color: #FFFFFF; }
    #block-menu-menu-about-us ul > li {
      position: relative; }
      #block-menu-menu-about-us ul > li > ul {
        display: none; }
      #block-menu-menu-about-us ul > li:hover > ul {
        display: block; }
      #block-menu-menu-about-us ul > li li {
        margin-left: 27px;
        border-color: rgba(255, 255, 255, 0.5); }

#meanmenu-dest {
  margin: 0 auto 1em auto; }

.mean-container {
  position: relative;
  z-index: 50;
  top: 0;
  right: 0;
  left: 0;
  clear: both; }
  .mean-container .mean-bar {
    position: absolute;
    top: -9em;
    width: 100%;
    margin: 0 auto;
    padding: 1em; }
    @media (min-width: 992px) {
      .mean-container .mean-bar {
        top: -6em; } }
    .mean-container .mean-bar a {
      position: relative;
      display: block;
      color: #FFFFFF !important;
      border: none; }
      .mean-container .mean-bar a:hover {
        border: none; }
      .mean-container .mean-bar a:active {
        border: none;
        background-color: transparent; }
      .mean-container .mean-bar a.meanmenu-reveal {
        position: relative;
        z-index: 9999;
        right: 1em !important;
        float: right;
        width: 2.5em;
        height: 2.5em;
        color: #FFFFFF !important; }
        .mean-container .mean-bar a.meanmenu-reveal span {
          position: relative;
          display: block;
          height: 5px;
          background: #FFFFFF; }
          .mean-container .mean-bar a.meanmenu-reveal span:nth-child(2) {
            margin: .4em 0; }
          .mean-container .mean-bar a.meanmenu-reveal span:last-child {
            font-size: 80%;
            position: absolute;
            bottom: 8px;
            background: none; }
        .mean-container .mean-bar a.meanmenu-reveal:hover {
          border-bottom: none; }
        .mean-container .mean-bar a.meanmenu-reveal + .mean-nav {
          padding: 0 1em;
          background-color: #00283e; }
      .mean-container .mean-bar a.meanclose span:not(:last-child) {
        position: relative;
        transform: rotate(45deg);
        transform-origin: center center; }
      .mean-container .mean-bar a.meanclose span:first-child {
        top: 8px;
        transform: rotate(-45deg); }
      .mean-container .mean-bar a.meanclose span:nth-child(2) {
        top: 3px;
        margin: 0; }
    .mean-container .mean-bar nav.mean-nav {
      position: relative;
      clear: both;
      margin-top: 4em; }
      .mean-container .mean-bar nav.mean-nav ul {
        margin: 0; }
        .mean-container .mean-bar nav.mean-nav ul.menu {
          margin-top: .75em; }
          .mean-container .mean-bar nav.mean-nav ul.menu li {
            padding: .75em 0 .75em .75em;
            border-bottom: solid 1px #FFFFFF; }
            .mean-container .mean-bar nav.mean-nav ul.menu li:last-child {
              border: none; }
            .mean-container .mean-bar nav.mean-nav ul.menu li a {
              display: inline; }
              .mean-container .mean-bar nav.mean-nav ul.menu li a:hover, .mean-container .mean-bar nav.mean-nav ul.menu li a:focus {
                border-bottom: solid 2px #FFFFFF; }
              .mean-container .mean-bar nav.mean-nav ul.menu li a:active {
                color: #005677 !important;
                background-color: #FFFFFF; }
          .mean-container .mean-bar nav.mean-nav ul.menu > li {
            position: relative; }
            .mean-container .mean-bar nav.mean-nav ul.menu > li li {
              margin-left: 27px;
              border-bottom-color: rgba(255, 255, 255, 0.6); }
          .mean-container .mean-bar nav.mean-nav ul.menu .dropdown-menu {
            margin-top: .75em; }
            .mean-container .mean-bar nav.mean-nav ul.menu .dropdown-menu .expanded .active {
              color: rgba(255, 255, 255, 0.7) !important; }
          .mean-container .mean-bar nav.mean-nav ul.menu .mean-expand {
            font-size: 27px !important;
            font-weight: bold;
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            min-width: 2em;
            padding: .25em .6em;
            text-align: center; }
            .mean-container .mean-bar nav.mean-nav ul.menu .mean-expand:hover, .mean-container .mean-bar nav.mean-nav ul.menu .mean-expand:focus, .mean-container .mean-bar nav.mean-nav ul.menu .mean-expand:active {
              text-decoration: none; }

#block-menu-block-2 {
  display: none; }
  @media (min-width: 992px) {
    #block-menu-block-2 {
      display: block; } }

#block-menu-block-2 ul li a {
  position: relative;
  display: inline;
  padding: 0;
  border-color: transparent; }
  #block-menu-block-2 ul li a:hover {
    border-bottom-color: #FFFFFF; }

.block-menu-block {
  float: right;
  clear: both; }
  .block-menu-block .menu-name-menu-header-links-menu {
    margin-bottom: 36px; }
    .block-menu-block .menu-name-menu-header-links-menu .menu li {
      display: inline-block;
      margin: 0;
      padding: 0; }
      .block-menu-block .menu-name-menu-header-links-menu .menu li:nth-child(n):not(:last-child):after {
        content: '\00a0\00a0|\00a0';
        color: white; }
      .block-menu-block .menu-name-menu-header-links-menu .menu li a {
        color: #FFFFFF !important; }

form .btn {
  margin-top: 0; }

.form-control {
  height: auto; }

/*Removes tabs from search*/
.search-tabs ul.tabs--primary.nav.nav-tabs li {
  display: none; }

.block-search {
  position: relative;
  clear: both;
  max-width: 95%;
  margin: 0 auto; }
  @media (min-width: 992px) {
    .block-search {
      z-index: 500;
      margin-top: 3em;
      margin-right: 6em; } }
  .block-search form {
    position: relative; }
    @media (min-width: 992px) {
      .block-search form {
        float: right; } }
    .block-search form .btn {
      padding: 0 !important; }
    .block-search form #edit-submit,
    .block-search form #edit-submit--2 {
      display: none; }
    .block-search form .input-group {
      display: block;
      margin: .5em auto; }
      @media (min-width: 992px) {
        .block-search form .input-group {
          float: none;
          width: auto; } }
      .block-search form .input-group input {
        padding: .75em;
        color: #FFFFFF;
        border: none;
        border-radius: 0;
        background: rgba(255, 255, 255, 0.3); }
        .block-search form .input-group input::placeholder {
          color: #FFFFFF; }
        .block-search form .input-group input[type='text'] {
          width: calc(100% - 3em); }
      .block-search form .input-group .input-group-btn {
        position: absolute;
        top: .5em;
        right: 20px; }
        .block-search form .input-group .input-group-btn .btn-primary {
          font-size: 0;
          position: relative;
          z-index: 10;
          top: 5px;
          width: 25px;
          height: 25px;
          cursor: pointer;
          color: white;
          border: solid 4px white;
          border-radius: 50%;
          background-color: transparent; }
          .block-search form .input-group .input-group-btn .btn-primary .icon.glyphicon {
            display: none; }
        .block-search form .input-group .input-group-btn:after {
          position: absolute;
          z-index: 9;
          right: -24px;
          bottom: -9px;
          width: 13px;
          height: 4px;
          content: '';
          transform: rotate(45deg);
          transform-origin: bottom right;
          background: #FFFFFF; }

#region-content #edit-basic:before {
  content: "Enter your keywords:";
  font-weight: bold; }

#region-content #edit-basic button {
  transition: 0.3s;
  color: black;
  background-color: #d3d3d3;
  border-color: black;
  border-radius: 0px; }

#region-content .glyphicon-search {
  margin: .5em;
  border-radius: 0px; }

#region-content #edit-basic .input-group-btn {
  padding-left: 1em; }

#region-content .glyphicon-search:before {
  font-family: "Montserrat", sans-serif !important;
  content: "Search";
  padding: 2em; }

/*# sourceMappingURL=print.css.map */
