.l-region--ffooter {
 background: #FFDFFF;

#block-govcms-social-links-services{
	text-align: center;
}}


.l-region--sfooter {
 background: #FFDFFF;

}

@include breakpoint(tablet) {

.block--block-1 p{
	padding: 3em;
	text-align: center;
	}}
