
/*Search*/

.container-inline div {
  display: block !important;
}

.search-block-form {
  @include margin(null null 0 null);
  padding: 0.3rem 0 0.7rem;
  >div {
    width: 100%;
  }

  .container-inline {
    position: relative;
    div {
      display: inline-block !important;
    }
    .form-item,
    .form-actions {
      input,
      input.form-submit {
        @include border-radius(0);
        border: none;
        color: $white;
        height: 100%;

        padding: 0;
      }
      .form-search {

        font-size: 2em;
        line-height: 100%;
        &::-webkit-input-placeholder {
          font-size: 14px;
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          font-size: 14px;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          font-size: 14px;
        }
        &:-ms-input-placeholder {
          font-size: 14px;
        }
      }
    }
    .form-item {
      input {
        color: white;
        font-size: 2.6em;
        padding: 0 0 0 0.4em;
        border: 1px solid $mid-grey;
        width: 230px;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        ::placeholder {
          color: $dark-white;
        }
        &:focus {
          width: 520px;
          border: 1px solid $dark-white;
          color: $mid-grey;
          ::placeholder {
            color: $mid-grey;
          }
        }
      }
      label {
        display: none;
      }
    }
    .form-actions {
      padding: 0;
      z-index: 2;
      vertical-align: top;
      input,
      input.form-submit {
        @include hide-text;
        text-indent: 200%;
        padding: 0;
        background:(url('../images/search-hover.png'), $mid-light-grey);
        width: 100%;

        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 15px 15px;
      }
    }
    .form-submit {

      @include hide-text;
      @include padding(0);
      background-position: 50% 50%;
      vertical-align: top;
    }
  }
}

.l-header{
  border-bottom: 2px solid black;
}

@include breakpoint(tablet) {

  .logo {
    margin-left: 3em;
  }
  .search {
    margin-right: 3em;
  }
  .search-block-form .container-inline {
    float: right;
    margin-top: -7em;
  }
}
