.menu .sf-menu .sf-menu-top-navigation .sf-style-white .sf-total-items-6 .sf-parent-items-0 .sf-single-items-6 .superfish-processed .sf-accordion .sf-hidden{
    float: left;
    display: none;
    margin-bottom: 1em;
    padding: 0;
    display: none;
}
 