$arrow: 3px;

a.back-to-top {
    display: none;
    position: fixed;
    width: 4em;
    height: 4em;
    right: 3em;
    bottom: 3em;
    border-radius: 50%;
    background-color: $primary-grey-light;
    z-index: 990;
    text-indent: -9999px;

    &:after {
        content: ' ';
        position: absolute;
        top: 1.7em;
        left: 1.25em;
        width: 1.5em;
        height: 1.5em;
        background-color: transparent;
        border-top: solid $arrow white;
        border-left: solid $arrow white;
        border-bottom: solid $arrow transparent;
        border-right: solid $arrow transparent;
        z-index: 9999;
        transform: rotate(45deg);
    }

    &:hover,
    &:active {
        background-color: $primary-grey-dark;
    }
}