// _beta.scss

#top p.beta {
    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: white;
    margin-bottom: 0px;
}

#top .beta p {
    text-align: center;
    background-color: black;

    a {
        color: white;
    }

    .btn {
        margin: 1em;
    }
}