// _breadcrumbs.scss

.block-crumbs {
    display: none;

    @include desktop {
        display: block;
        margin: 1em 0;

        .breadcrumb {
            background-color: transparent;
        }
    }
}