// _breadcrumbs.scss
.block-crumbs-wrapper {
    display: none;
    margin: 1em 0;

    @include desktop {
        display: block;
    }


    & li + li:before {
        padding: 0;
        content: '> ';
        color: black;
    }

    .breadcrumb {
        padding: 0;
        background-color: transparent;
    }
}