// _buttons.scss

.button {
    appearance: none;
    border: 0;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: normal;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;

    &:hover,
    &:focus {
        background-color: $minor-teal-2;
        color: $black;
    }

    &:active {
        background-color: $minor-navy;
        color: $white;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;

        &:hover {
            background-color: $minor-navy;
        }
    }
}