// _searchform.scss

.block-search {
    position: relative;
    clear: both;
    max-width: 95%;
    margin: 0 auto;

    @include desktop {
        z-index: 500;
        margin-top: 3em;
        margin-right: 6em;
    }


    form {
        position: relative;

        @include desktop {
            float: right;
        }


        .form-type-textfield {
            //float: left;
            margin: .5em auto;

            @include desktop {
                float: none;
                width: auto;
            }


            input {
                padding: .75em;
                color: $white;
                border: none;
                background: rgba($white, 0.3);

                &::placeholder {
                    color: $white;
                }

                &[type='text'] {
                    width: calc(100% - 3em);
                }
            }
        }

        .form-actions {
            position: absolute;
            top: .5em;
            right: 0;

            // Search form submit button/icon. Uses CSS3 and HTML wrappers to create icon
            // Magnifying glass lens/search button
            .form-submit {
                font-size: 0;
                position: relative;
                z-index: 10;
                top: 0;
                width: 25px;
                height: 25px;
                cursor: pointer;
                color: white;
                border: solid 4px white;
                border-radius: 50%;
                background-color: transparent;
            }

            // Magnifying glass handle
            &:after {
                position: absolute;
                z-index: 9;
                right: -3px;
                bottom: -4px;
                width: 13px;
                height: 4px;
                content: '';
                transform: rotate(45deg);
                transform-origin: bottom right;
                background: $white;
            }
        }
    }
}