// _testing.scss

/*
 * THIS PARTIAL IS FOR TESTING CONTENT ONLY. 
 * ALL CONTENT MUST BE VISIBLE ONLY TO AUTHENTICATED UESRS
*/
body.logged-in {
    /* Content goes below this line:
    ----------------------------------------------- */

    // Media query tests
    &:before {
        font-size: 1.2em;
        position: fixed;
        bottom: 0;
        display: block;
        margin: 0 auto;
        padding: .25 .5em;
        content: 'Mobile';
        color: black;
        background: green;
        z-index: 9999;

        @include tablet-only {
            content: 'Tablet';
            color: white;
            background: red;
        }


        @include desktop-only {
            content: 'Desktop';
            color: white;
            background: blue;
        }


        @include desktop-lg {
            content: 'Desktop large';
            background: pink;
        }


        @include print {
            content: 'Print';
            background: red;
        }
    }

    // End Media query tests

    /*
    ----------------------------------
     END CONTENT */
}