// _builders.scss

/******************
 * Builder classes
 *****************/

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.floatnone {
    float: none;
}

.clearleft {
    clear: left;
}

.clearright {
    clear: right;
}

.clearboth {
    clear: both;
}