@charset "UTF-8";
/* ----------------------------------- //
//      CSS Hacks Mixins for Sass
// ----------------------------------- //

	How to use:

	@include [Mixin_Name]( 'selector', (property: value) )

	Example:

	@include only_ie9( '.my_element', (color: red) )
	@include only_ff28_above( '.my_element', (
		background-color: green,
		display: flex,
		margin: 2em,
	))

	Tips:
	  - Use firefox mixins before IE mixins. Sometimes Firefox wants to precess the IE css but it can't and skips it's own CSS!

// ----------------------------------- //

	List of Mixins:

	only_ff
	only_ff2
	only_ff2_above
	only_ff3_above
	only_ff6_above
	only_ff16_above
	only_ff21_above
	only_ff24_above
	only_ff25_above
	only_ff26_above
	only_ff27_above
	only_ff28_above
	only_ff30_above
	only_webkit
	only_chrome
	only_safari
	only_safari9
	only_ios
	only_safari_no_ios
	only_opera9_safari2
	only_opera
	only_opera11
	only_edge
	only_ie6
	only_ie7
	only_ie7_below
	only_ie8
	only_ie8_below
	only_ie9
	only_ie9_below
	only_ie10_above
	only_ie11
	only_ie11_above
	no_ie6
	only_ie9_saf4_above
	no_ie_safari6

// ----------------------------------- */
/* ----------------------------------- //
//          Firefox CSS Hacks
// ----------------------------------- */
/*--- Only Firefox ---*/
/*--- Only Firefox 1.5 and Firefox 2 ---*/
/*--- Only Firefox ≥ 2 ---*/
/*--- Only Firefox ≥ 3 ---*/
/*--- Only Firefox ≥ 6 ---*/
/*--- Only Firefox ≥ 16 ---*/
/*--- Only Firefox ≥ 21 ---*/
/*--- Only Firefox ≥ 24 ---*/
/*--- Only Firefox ≥ 25 ---*/
/*--- Only Firefox ≥ 26 ---*/
/*--- Only Firefox ≥ 27 ---*/
/*--- Only Firefox ≥ 28 ---*/
/*--- Only Firefox ≥ 30 ---*/
/* ----------------------------------- //
//          Webkit CSS Hacks
// ----------------------------------- */
/*--- Only Webkit (Chrome, Safari, Opera ≥ 14) ---*/
/*--- Only Chrome 28+, Opera ≥ 14 ---*/
/*--- Only Safari ≥ 6.1 ---*/
/*--- Only Safari ≥ 9 ---*/
/*--- Only iOS Safari ≥ 9 ---*/
/*--- Only Safari ≥ 9 (Non iOS) ---*/
/*--- Only Opera ≤ 9.27, Safari ≤ 2 ---*/
/* ----------------------------------- //
//           Opera CSS Hacks
// ----------------------------------- */
/*--- Only Opera ≥ 9.5 ---*/
/*--- Only Opera ≤ 11 ---*/
/* ----------------------------------- //
//     Edge CSS Hacks
// ----------------------------------- */
/* ----------------------------------- //
//     Internet Explorer CSS Hacks
// ----------------------------------- */
/*--- Only IE ≤ 6 ---*/
/*--- Only IE7 ---*/
/*--- Only IE ≤ 7 ---*/
/*--- Only IE8 ---*/
/*--- Only IE ≤ 8 ---*/
/*--- Only IE9 ---*/
/*--- Only IE ≤ 9 ---*/
/*--- Only IE10 ---*/
/*--- Only IE ≤ 11 ---*/
/*--- Only IE ≥ 11 ---*/
/*--- Anything but IE6 ---*/
/*--- Only IE ≥ 9, safari4, android ≥ 2.3 ---*/
/* ----------------------------------- //
//           Other CSS Hacks
// ----------------------------------- */
/*--- Everything but IE and Safari ≤ 6 ---*/
#block-menu-menu-about-us ul > li, .mean-container .mean-bar nav.mean-nav ul > li, .block-menu-block .menu-name-menu-header-links-menu .menu, ul.text-resize li {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

#block-menu-menu-about-us ul > li, .mean-container .mean-bar a.meanclose, .mean-container .mean-bar nav.mean-nav ul.menu, .mean-container .mean-bar nav.mean-nav ul > li {
  margin: 0;
}

#block-menu-menu-about-us ul > li, .mean-container .mean-bar a.meanclose, .mean-container .mean-bar nav.mean-nav ul.menu, .mean-container .mean-bar nav.mean-nav ul > li {
  padding: 0;
}

/*@mixin ie {
    _:-ms-lang(x), .ie10up {
        @content;
    }
}*/
footer {
  background: #347C87;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #347C87), color-stop(100%, #022C41));
  background: -webkit-gradient(linear, left top, left bottom, from(#347C87), to(#022C41));
  background: linear-gradient(to bottom, #347C87 0%, #022C41 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary-blue-light', endColorstr='$navy', GradientType=0 );
}

header #main-page-top {
  background: #022C41;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #022C41), color-stop(100%, #347C87));
  background: -webkit-gradient(linear, left top, left bottom, from(#022C41), to(#347C87));
  background: linear-gradient(to bottom, #022C41 0%, #347C87 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$navy', endColorstr='$primary-blue-light', GradientType=0 );
}

.pane-taxonomy-sector.last-hero-item + .panel-separator, .pane-taxonomy-sector.triple-col + .panel-separator, .pane-latest-news,
.pane-consultations {
  min-height: 1px;
  margin: 1.25em 0;
  border-top: solid 1px #022C41;
}

/******************
 * Builder classes
 *****************/
.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.floatnone {
  float: none;
}

.clearleft {
  clear: left;
}

.clearright {
  clear: right;
}

.clearboth {
  clear: both;
}

/* _typography.scss*/
/**
 * Fix fonts that render as bold in Firefox
 *
 * Put this near the top of your style.css
 * Before any overriding styles:
 * https://www.lockedowndesign.com/firefox-font-weight-too-bold/
 */
html {
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/**
 * Firefox specific rule
 */
@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

html {
  font-size: 14px;
  text-rendering: optimizeLegibility;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html {
    text-rendering: auto;
  }
}

body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body {
    font-family: "Helvetica", sans-serif, "Times New Roman" !important;
  }
}

body #region-content *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  font-size: unset;
  font-size: 18px;
  font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 22px 0 18px 0;
  margin: 1.4rem 0 1.2rem 0;
  color: #005677 !important;
}

h1 {
  font-size: 40px;
  font-size: 2.888rem;
}

h2 {
  font-size: 37px;
  font-size: 2.7rem;
}

h3 {
  font-size: 32px;
  font-size: 2.3rem;
}

h4 {
  font-size: 28px;
  font-size: 2rem;
}

h5 {
  font-size: 22px;
  font-size: 1.6rem;
  font-weight: 600;
}

h6 {
  font-size: 20px;
  font-size: 1.45rem;
}

p {
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.44;
  margin: 14px 0;
  margin: 1rem 0;
}

li {
  margin: 8px 0;
  margin: .6rem 0;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

a {
  color: #005677;
  border: solid 2px transparent;
}

a:hover, a:focus {
  text-decoration: none;
  border-bottom: dotted 2px #005677;
}

a:active {
  color: #FFFFFF;
  background-color: #a16aa3;
}

hr {
  clear: both;
  border: none;
  border-top: solid 1px #cccccc;
}

.full-width {
  width: 100%;
}

@media (min-width: 1500px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 1300px) {
  .splittimonial .container {
    padding-left: 0;
    padding-right: 0;
  }
  .splittimonial .container .section-one {
    padding-left: calc( constant(safe-area-inset-left)  + 30px) !important;
    padding-right: calc( constant(safe-area-inset-right) + 15px) !important;
  }
  .splittimonial .container .row {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
}

@media (min-width: 994px) {
  .vertical-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .panel-dashed .panel-body {
    min-height: 41.5em;
  }
  .split.distro .container {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(50%, rgba(245, 247, 249, 0.8))), url(../img/distro-split.svg) 50% 50% no-repeat;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 50%, rgba(245, 247, 249, 0.8) 50%), url(../img/distro-split.svg) 50% 50% no-repeat;
  }
  .split.community-support .container {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(50%, rgba(245, 247, 249, 0.8))), url(../img/community-support-split.svg) 50% 50% no-repeat;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 50%, rgba(245, 247, 249, 0.8) 50%), url(../img/community-support-split.svg) 50% 50% no-repeat;
  }
  .split h2 {
    margin-top: 0;
    margin-bottom: 0.7em;
  }
  .split .section-one {
    padding: 50px 80px 50px 0;
  }
  .split .section-two {
    padding: 50px 0 50px 80px;
  }
}

@media (max-width: 993px) {
  #top-and-first-wrapper #top .col-md-8 {
    width: 100%;
  }
  #top-and-first-wrapper #about h1,
  #top-and-first-wrapper #about h2 {
    font-size: 300%;
  }
  #top-and-first-wrapper .nav-pills {
    float: none !important;
    margin: 2em auto 0;
    width: 77%;
  }
  #top-and-first-wrapper small.pull-right {
    width: 100%;
  }
  #top-and-first-wrapper .btn-lg {
    float: left !important;
  }
  .split .container {
    background: #fff;
  }
  .split .container .section-one {
    padding-bottom: 1em;
  }
  .split .container .section-two {
    text-align: left;
    padding-top: 0;
  }
  .split.testimonial .container {
    margin: 0;
    width: 100%;
  }
  .split.testimonial .container .section-one,
  .split.testimonial .container .section-two {
    padding: 20px;
  }
  .split.testimonial .container .section-one {
    width: calc(100% - 2em);
    margin: 1em 1em 0 1em;
  }
  .split.testimonial .container .section-one:after {
    content: none;
  }
  .split.testimonial .container .section-two {
    margin: 0;
  }
  .split.testimonial .container .section-two img {
    -webkit-transform: none !important;
            transform: none !important;
    margin: 0 10%;
    max-height: 250px;
  }
  .split.distro {
    background: #fff;
  }
  .split.distro .container {
    background: none;
  }
  .split.community-support {
    background: #fff;
  }
  .split.community-support .container {
    background: none;
  }
  #clients img {
    margin-bottom: 0;
  }
  .call-to-action .text-right .text-right {
    text-align: center;
  }
  .alternating,
  .alternating .row {
    margin: 0 auto;
    padding: 10px 0;
  }
  .alternating img,
  .alternating i.icon-huge,
  .alternating.alternating.bg-primary i.icon-huge {
    display: none !important;
  }
  .alternating .text-center img {
    display: inline-block !important;
    height: auto !important;
    margin-bottom: 20px;
  }
  body.page-support-training .sortableList .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
  body.page-support-training .sortableList .card h2 {
    margin-top: 1.5em;
  }
}

@media (max-width: 767px) {
  #about {
    padding-top: 0;
  }
  .nav-pills li {
    width: 100%;
    margin-bottom: 15px;
  }
  .split:not(.testimonial) {
    margin: 1em;
  }
  .call-to-action .btn {
    margin-right: 0;
    padding: 10px;
  }
  .split.testimonial blockquote {
    margin: 1em;
  }
  footer .small-links li {
    margin-bottom: 20px;
  }
  .page-support-training .sortableList .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 95%;
            flex: 0 0 95%;
  }
  .page-support-training .sortableList .card h2 {
    margin-top: 2.5em;
  }
}

#top-and-first-wrapper {
  background: none;
}

@media (min-width: 62.1rem) {
  header #main-page-top {
    padding-top: 2em;
  }
}

header #main-page-top #mission-statement {
  border-top: solid 1px #FFFFFF;
}

header #main-page-top #mission-statement p {
  font-size: 2.277rem;
  font-weight: 300;
  max-width: 20em;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  color: #FFFFFF;
}

footer {
  padding: 28px 0;
  color: white;
}

footer a {
  color: white;
}

footer a:hover, footer a:focus {
  color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}

footer div[class^='region region-'] {
  position: relative;
  clear: both;
}

@media (min-width: 768px) {
  footer .container nav {
    padding-right: 0;
    padding-left: 0;
  }
}

footer li {
  list-style: none;
}

footer .region-footer-lower {
  margin-top: 2em;
}

footer .region-footer-lower p {
  text-align: center;
}

footer h2 {
  margin: 0;
}

footer h2 a {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

footer h2 a:hover, footer h2 a:focus {
  color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}

footer ul.menu {
  padding-left: 0;
}

footer ul.menu li {
  margin: 0;
  list-style-type: none;
  list-style-image: none;
}

footer #footer_first .col-md-3 ul.menu a {
  color: white;
}

footer #footer_first > nav:last-child a {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

footer #footer_first > nav:last-child a > svg {
  display: block;
  width: auto;
  height: 100%;
}

footer #footer_first > nav:last-child a > svg path {
  fill: #FFFFFF;
}

footer div[id^='footer_'] {
  margin: 1.5em 0;
}

footer div[id^='footer_']:after {
  position: relative;
  display: block;
  clear: both;
  content: ' ';
}

footer hr {
  clear: both;
  border: none;
  border-top: solid 1px #FFFFFF;
}

.region-bottom .block {
  text-align: center;
}

.region-footer-lower #block-block-21,
.region-footer-lower #block-block-11 {
  padding: 0 15px;
}

@media (min-width: 62.1rem) {
  .region-footer-lower #block-block-21,
  .region-footer-lower #block-block-11 {
    max-width: 800px;
    margin: 0 auto;
  }
}

.region-footer-lower #block-block-21 p,
.region-footer-lower #block-block-11 p {
  font-size: .85rem;
}

a.back-to-top {
  display: none;
  position: fixed;
  width: 4em;
  height: 4em;
  right: 3em;
  bottom: 3em;
  border-radius: 50%;
  background-color: #939598;
  z-index: 990;
  text-indent: -9999px;
}

a.back-to-top:after {
  content: ' ';
  position: absolute;
  top: 1.7em;
  left: 1.25em;
  width: 1.5em;
  height: 1.5em;
  background-color: transparent;
  border-top: solid 3px white;
  border-left: solid 3px white;
  border-bottom: solid 3px transparent;
  border-right: solid 3px transparent;
  z-index: 9999;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

a.back-to-top:hover, a.back-to-top:active {
  background-color: #58595b;
}

.block-crumbs {
  display: none;
}

@media (min-width: 62.1rem) {
  .block-crumbs {
    display: block;
    margin: 1em 0;
  }
  .block-crumbs .breadcrumb {
    background-color: transparent;
  }
}

#top p.beta {
  font-size: xx-large;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: black;
}

#top .beta p {
  margin: 0;
  text-align: center;
  background-color: black;
}

#top .beta p a {
  color: white;
}

#top .beta p .btn {
  margin: 1em;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: normal;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
}

.button:hover, .button:focus {
  background-color: #9cd9e0;
  color: #000000;
}

.button:active {
  background-color: #00283e;
  color: #FFFFFF;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button:disabled:hover {
  background-color: #00283e;
}

#print-crest {
  display: none;
}

@media print {
  #print-crest {
    display: block;
  }
  #print-crest a:after {
    display: none;
  }
}

.logos {
  margin: 0 !important;
}

@media (min-width: 62.1rem) {
  .logos {
    float: left !important;
  }
}

.logos .coa-inline {
  float: none;
}

@media (max-width: 25rem) {
  .logos .coa-inline {
    position: relative;
    z-index: 500;
    left: -2em;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (min-width: 62.1rem) {
  .logos .coa-inline {
    float: left;
  }
}

@media print {
  .logos .coa-inline {
    display: block;
    width: 100%;
  }
}

.logos .coa-titles {
  position: relative;
  width: 100%;
  min-height: 8.5em;
  text-shadow: none;
}

.logos .coa-titles a {
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  display: block;
  width: 20em;
  padding: 1em;
}

@media (min-width: 62.1rem) {
  .logos .coa-titles a {
    position: relative;
    width: auto;
  }
}

.logos .coa-titles span {
  border: none;
}

.logos .coa-titles span:first-child {
  border-bottom: solid 1px #FFFFFF;
}

@media print {
  .logos .coa-titles span:first-child {
    border-bottom: solid 1px #000000;
  }
}

.logos .coa-titles span:last-child {
  margin-top: 3px;
}

.logos .coa-titles .coa-img {
  max-width: 6.5em;
}

@media print {
  .logos .coa-titles .coa-img {
    width: 6rem;
  }
}

.logos .coa-titles .coa-img + div {
  float: right;
  margin: 20px 0 0 10px;
}

.logos .coa-titles .coa-img + div + p {
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  top: 2rem;
  right: -6rem;
}

.logos .coa-titles .coa-img,
.logos .coa-titles span[class*='coa-lines-'] {
  padding: 0;
  color: #FFFFFF;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .logos .coa-titles {
    min-width: 20em;
  }
}

img {
  max-width: 100%;
}

.pane-taxonomy-sector.last-hero-item + .panel-separator, .pane-taxonomy-sector.triple-col + .panel-separator {
  clear: both;
}

.hero-list {
  margin: 1.25em 0;
}

.hero-list .view-header {
  text-align: center;
}

.hero-list h2 {
  margin: 0;
}

.hero-list h2 a {
  font-size: 20px;
  position: relative;
  display: block;
  margin-top: 0;
  margin-bottom: 1.25em;
  padding: 1em .5em 1.5em .5em;
  text-align: center;
  color: white;
  background: #00283e;
}

.hero-list h2 a:hover {
  cursor: pointer;
  border-color: transparent;
  background: #004971;
}

.hero-list h2 a:focus {
  background: #004971;
}

.hero-list h2 a.hero-list-wrap {
  border: solid 1px transparent;
}

.hero-list h2 a:before {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: .7em;
  left: 0;
  width: .75em;
  height: .75em;
  margin: 0 auto;
  content: ' ';
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  border-top: solid 5px white;
  border-right: solid 5px transparent;
  border-bottom: solid 5px transparent;
  border-left: solid 5px white;
}

.hero-list h2 a.hero-list-open:before {
  bottom: .2em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hero-list h2 a.hero-list-open:after {
  position: absolute;
  right: 0;
  bottom: -.5em;
  left: 0;
  width: 1.25em;
  height: 1.25em;
  margin: 0 auto;
  content: '';
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #00283e;
}

.hero-list h2 a.hero-list-open:hover:after, .hero-list h2 a.hero-list-open:focus:after {
  background: #004971;
}

.hero-list .hero-list-target {
  border: solid 1px transparent;
}

.hero-list .view-content {
  font-weight: 300;
  margin: 45px;
}

.hero-list .view-footer {
  clear: both;
  margin: .75em;
  margin-top: 2em;
}

.hero-list .view-content ul li {
  margin: .75em 0;
  list-style: none;
}

.hero-list .view-content ul li .button {
  text-align: left;
}

.hero-list.col-sm-4, .hero-list.col-sm-12 {
  padding-right: 0;
  padding-left: 0;
}

#skip-links a {
  visibility: none;
  padding: .5em;
  color: #FFFFFF;
  background-color: #58595b;
}

#skip-links a:focus, #skip-links a:active {
  display: block;
}

#block-menu-menu-about-us {
  clear: both;
}

#block-menu-menu-about-us ul {
  margin: 0;
}

#block-menu-menu-about-us ul li {
  padding: .75em 0 .75em .75em;
  border-bottom: solid 1px #FFFFFF;
}

#block-menu-menu-about-us ul li:last-child {
  border: none;
}

#block-menu-menu-about-us ul li a {
  display: inline;
  color: #FFFFFF !important;
}

#block-menu-menu-about-us ul li a:hover, #block-menu-menu-about-us ul li a:focus {
  border-bottom-color: #FFFFFF;
}

#block-menu-menu-about-us ul > li {
  position: relative;
}

#block-menu-menu-about-us ul > li > ul {
  display: none;
}

#block-menu-menu-about-us ul > li:hover > ul {
  display: block;
}

#block-menu-menu-about-us ul > li li {
  margin-left: 21px;
  border-color: rgba(255, 255, 255, 0.5);
}

#meanmenu-dest {
  margin: 0 auto 1em auto;
}

.mean-container {
  position: relative;
  z-index: 50;
  top: 0;
  right: 0;
  left: 0;
  clear: both;
}

.mean-container .mean-bar {
  position: absolute;
  top: -9em;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}

@media (min-width: 62.1rem) {
  .mean-container .mean-bar {
    top: -6em;
  }
}

.mean-container .mean-bar a {
  position: relative;
  display: block;
  color: #FFFFFF !important;
}

.mean-container .mean-bar a.meanmenu-reveal {
  right: 1em !important;
  float: right;
  width: 2.5em;
  height: 2.5em;
  color: #FFFFFF !important;
}

.mean-container .mean-bar a.meanmenu-reveal span {
  position: relative;
  display: block;
  height: 5px;
  background: #FFFFFF;
}

.mean-container .mean-bar a.meanmenu-reveal span:nth-child(2) {
  margin: .4em 0;
}

.mean-container .mean-bar a.meanmenu-reveal span:last-child {
  position: absolute;
  bottom: 0;
  background: none;
}

.mean-container .mean-bar a.meanmenu-reveal + .mean-nav {
  background: #00283e;
  /* The Fallback */
  background: rgba(0, 40, 62, 0.95);
}

.mean-container .mean-bar a.meanclose span:not(:last-child) {
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.mean-container .mean-bar a.meanclose span:first-child {
  top: 5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mean-container .mean-bar a.meanclose span:nth-child(2) {
  margin: 0;
}

.mean-container .mean-bar a.meanclose + .mean-nav {
  padding: 1em;
}

.mean-container .mean-bar nav.mean-nav {
  position: relative;
  clear: both;
  margin-top: 4em;
}

.mean-container .mean-bar nav.mean-nav ul {
  margin: 0;
}

.mean-container .mean-bar nav.mean-nav ul.menu .menu {
  margin-top: .75em;
}

.mean-container .mean-bar nav.mean-nav ul.menu .menu .expanded .active {
  color: rgba(255, 255, 255, 0.7) !important;
}

.mean-container .mean-bar nav.mean-nav ul.menu .mean-expand {
  font-size: 21px !important;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  min-width: 2em;
  padding: .25em .6em;
  text-align: center;
}

.mean-container .mean-bar nav.mean-nav ul.menu .mean-expand:hover, .mean-container .mean-bar nav.mean-nav ul.menu .mean-expand:focus, .mean-container .mean-bar nav.mean-nav ul.menu .mean-expand:active {
  text-decoration: none;
}

.mean-container .mean-bar nav.mean-nav ul li {
  padding: .75em 0 .75em .75em;
  border-bottom: solid 1px #FFFFFF;
}

.mean-container .mean-bar nav.mean-nav ul li:last-child {
  border: none;
}

.mean-container .mean-bar nav.mean-nav ul li a {
  display: inline;
}

.mean-container .mean-bar nav.mean-nav ul li a:hover, .mean-container .mean-bar nav.mean-nav ul li a:focus {
  border-bottom-color: #FFFFFF;
}

.mean-container .mean-bar nav.mean-nav ul > li {
  position: relative;
}

.mean-container .mean-bar nav.mean-nav ul > li li {
  margin-left: 21px;
  border-color: rgba(255, 255, 255, 0.5);
}

#block-menu-block-2 {
  display: none;
}

@media (min-width: 62.1rem) {
  #block-menu-block-2 {
    display: block;
  }
}

.block-menu-block {
  float: right;
  clear: both;
}

.block-menu-block .menu-name-menu-header-links-menu {
  margin-bottom: 28px;
}

.block-menu-block .menu-name-menu-header-links-menu .menu li {
  display: inline-block;
  margin: 0;
  padding: 0 .5em;
}

.block-menu-block .menu-name-menu-header-links-menu .menu li:nth-child(n):not(:last-child) {
  border-right: solid 1px #FFFFFF;
}

.block-menu-block .menu-name-menu-header-links-menu .menu li a {
  color: #FFFFFF !important;
}

.block-search {
  position: relative;
  clear: both;
  max-width: 95%;
  margin: 0 auto;
}

@media (min-width: 62.1rem) {
  .block-search {
    z-index: 500;
    margin-top: 3em;
    margin-right: 6em;
  }
}

.block-search form {
  position: relative;
}

@media (min-width: 62.1rem) {
  .block-search form {
    float: right;
  }
}

.block-search form .form-type-textfield {
  margin: .5em auto;
}

@media (min-width: 62.1rem) {
  .block-search form .form-type-textfield {
    float: none;
    width: auto;
  }
}

.block-search form .form-type-textfield input {
  padding: .75em;
  color: #FFFFFF;
  border: none;
  background: rgba(255, 255, 255, 0.3);
}

.block-search form .form-type-textfield input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.block-search form .form-type-textfield input:-ms-input-placeholder {
  color: #FFFFFF;
}

.block-search form .form-type-textfield input::-ms-input-placeholder {
  color: #FFFFFF;
}

.block-search form .form-type-textfield input::placeholder {
  color: #FFFFFF;
}

.block-search form .form-type-textfield input[type='text'] {
  width: calc(100% - 3em);
}

.block-search form .form-actions {
  position: absolute;
  top: .5em;
  right: 0;
}

.block-search form .form-actions .form-submit {
  font-size: 0;
  position: relative;
  z-index: 10;
  top: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: white;
  border: solid 4px white;
  border-radius: 50%;
  background-color: transparent;
}

.block-search form .form-actions:after {
  position: absolute;
  z-index: 9;
  right: -3px;
  bottom: -4px;
  width: 13px;
  height: 4px;
  content: '';
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  background: #FFFFFF;
}

#block-block-26 {
  display: none;
}

@media (min-width: 34.28571rem) {
  #block-block-26 {
    display: block;
  }
}

ul.text-resize {
  display: inline-block;
  float: right;
}

ul.text-resize li {
  display: inline-block;
}

ul.text-resize li:nth-child(1) a:after {
  font-size: 80%;
}

ul.text-resize li:nth-child(2) a:after {
  font-size: 100%;
}

ul.text-resize li:nth-child(3) a:after {
  font-size: 120%;
}

ul.text-resize li a {
  display: block;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  overflow: hidden;
  color: transparent !important;
}

ul.text-resize li a:after {
  content: 'A';
  position: absolute;
  left: 0;
  top: 0;
  color: #333333;
}

.front h2.pane-title {
  font-size: 2em;
  color: #005677;
}

.front .view-latest-news h3 {
  font-size: 1.15em;
  font-weight: 700;
}

.front .view-latest-news h3 a:visited {
  color: #005677;
}

.front .view-latest-news p {
  font-size: 1.15em !important;
}

.front .pane-taxonomy-sector ul li {
  font-size: 1.3em !important;
  margin: .75em 0;
  list-style: none;
}

.front .pane-taxonomy-sector .view-footer p {
  font-size: 1.1em !important;
}

.front .pane-latest-news,
.front .pane-consultations {
  padding-left: 0;
  padding-right: 0;
}

.front .pane-consultations [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.front .pane-latest-news .view-content:after {
  position: relative;
  display: block;
  clear: both;
  content: ' ';
}

.front .view-latest-news .view-content div:first-child {
  padding-left: 0;
}

.front .view-latest-news .view-content div:last-child {
  padding-right: 0;
}

.front .view-consultations .views-field-title {
  font-size: 1.15em;
  font-weight: 700;
}

/*
 * THIS PARTIAL IS FOR TESTING CONTENT ONLY. 
 * ALL CONTENT MUST BE VISIBLE ONLY TO AUTHENTICATED UESRS
*/
body.logged-in {
  /* Content goes below this line:
    ----------------------------------------------- */
  /*
    ----------------------------------
     END CONTENT */
}

body.logged-in:before {
  font-size: 1.2em;
  position: fixed;
  bottom: 0;
  display: block;
  margin: 0 auto;
  padding: .25 .5em;
  content: 'Mobile';
  color: black;
  background: green;
  z-index: 9999;
}

@media (min-width: 34.28571rem) and (max-width: 62.1rem) {
  body.logged-in:before {
    content: 'Tablet';
    color: white;
    background: red;
  }
}

@media (min-width: 62.1rem) and (max-width: 98.28571rem) {
  body.logged-in:before {
    content: 'Desktop';
    color: white;
    background: blue;
  }
}

@media (min-width: 98.28571rem) {
  body.logged-in:before {
    content: 'Desktop large';
    background: pink;
  }
}

@media print {
  body.logged-in:before {
    content: 'Print';
    background: red;
  }
}

/*# sourceMappingURL=diis_theme.css.map */

/*# sourceMappingURL=diis_theme.css.map */
