// _backtotop.scss

$arrow: 5px;

body {
    &.front {
        a {
            &.back-to-top {
                border: solid 2px $white;

                &:hover {
                    border-color: lighten($black, 10%);
                }
            }
        }
    }
}

a {
    &.back-to-top {
        position: fixed;
        z-index: 990;
        right: 3em;
        bottom: 3em;
        display: none;
        width: 3em;
        height: 3em;
        text-indent: -9999px;
        border: solid 2px $white;
        border-radius: 50%;
        background-color: $primary-grey-dark;

        &:after {
            position: absolute;
            z-index: 9999;
            top: 1.1em;
            right: 0;
            left: 0;
            width: 1em;
            height: 1em;
            margin: 0 auto;
            content: ' ';
            transform: rotate(45deg);
            border-top: solid $arrow white;
            border-right: solid $arrow transparent;
            border-bottom: solid $arrow transparent;
            border-left: solid $arrow white;
            background-color: transparent;
        }

        &:hover,
        &:active {
            border: solid 2px lighten($black, 10%);
            background-color: $primary-grey-light;

            &:after {
                border-top-color: lighten($black, 10%);
                border-left-color: lighten($black, 10%);
            }
        }
    }
}