// _forms.scss
.form-control {
    border-color: #888;
}

// Feedback form
#webform-client-form-13321 {
    margin-top: 1em;

    label {
        padding-left: 0;
        color: $black;
    }

    .form-actions {
        margin-top: 1em;
        text-align: right;

        button {
            color: white;
        }
    }

    .radio input[type=radio] {
        margin-left: 0;
    }

    .webform-component-radios {
        // Question label
        &.form-group {
            margin-bottom: 0;

            >label {
                &.control-label {
                    font-weight: bold;
                }
            }
        } // Radio checkboxes
        input[id^='edit-submitted-rating-'] {
            position: relative;
            margin-right: 5px;
        }
    }

    .help-block {
        font-size: .9em;
        color: #333;
    }
}

#block-webform-client-block-13321 {
    margin-top: 1em;
}

//multiple webforms - oce feedback form
#webform-client-form-43221 .form-select, #webform-client-form-43386 .form-select, #webform-client-form-43391 .form-select, #webform-client-form-43396 .form-select, #webform-client-form-43456 .form-select {
    @include desktop {
        width: 9em;
    }
}
//State of Space Report: Feedback form - acsf 3906 only
#webform-client-form-43221 #edit-submitted-accept-privacy-statement-below {
    @include desktop {
        float: left;
    }
}

#webform-client-form-43221 .email {
    @include desktop {
        width: 25em;
    }
}

// end State of Space Report: Feedback form
// beta feedback font weight
#webform-client-form-13336 .control-label,
#webform-client-form-13321 .control-label {
    font-size: initial;
}



// Any webform options list boxes
.node-webform,
.block-webform {
    @include tablet {
        .checkbox,
        .radio {
            display: inline-block;
            width: 50%;
            margin-top: 0;
            margin-bottom: 0;
        }
    }


    form .checkbox input[type=checkbox],
    form .checkbox-inline input[type=checkbox],
    form .radio input[type=radio],
    form .radio-inline input[type=radio] {
        margin-left: -20px;
    }

    .control-label {
        font-size: inherit;
        margin-top: 0;
    }

    form label {
        font-weight: 400;
        width: 100%;
        margin-top: 1em;
        color: black;
    }

    .form-actions {
        .form-submit {
            float: right;
            margin-top: 2em;

            &:active {
                color: black;
                border-color: solid 1px $minor-navy;
                background-color: $minor-teal;
                box-shadow: 0 0 0 0 rgba(81, 203, 238, 1);
            }
        }
    }
}

// mailchimp privacy form
#privacy-content {
    display: none;
}

// all mailchimp - remove link in mailchimp form to their css file
#mc_embed_signup_scroll>div.indicates-required {
    float: right;
    margin-bottom: -2em;
}

#mc_embed_signup {
    clear: left;
    background: #fff;
}

#mc_embed_signup .mc-field-group {
    margin-left: 0;
}

form .optional,
form .required {
    float: none;
    color: #777;
}

#mc_embed_signup .mc-field-group {
    position: relative;
    clear: left;
    width: 100%;
    min-height: 50px;
    padding-bottom: 0;
}

#mc_embed_signup .mc-field-group label {
    display: block;
    margin-bottom: 3px;
}

#mc_embed_signup_scroll form label {
    margin-top: 1em;
    color: #3b7498;
    font-weight: 400;
    width: 100%;
}

#mc_embed_signup .mc-field-group input{
    display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: 2px;
     

    &:focus {
          outline: 3px solid #5294FE;
    }

    &:active {
           outline: 3px solid #5294FE;
    }


}
#mc_embed_signup .mc-field-group select {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: -1px;
     

    &:focus {
          outline: 3px solid #5294FE;
    }

    &:active {
           outline: 3px solid #5294FE;
    }


}

#mc_embed_signup .mc-field-group.input-group input {
    display: inline;
    /*width: auto;*/
    float: left;
    border: none;
    width: 3%;
        
         
    &:focus {
          outline: 3px solid #5294FE;
    }

    &:active {
           outline: 3px solid #5294FE;
    }
}

ul li #mc_embed_signup .mc-field-group input,
ul li #mc_embed_signup .mc-field-group select {
    display: inline;
    /*width: auto;*/
    float: left;
    border: none;
    width: 3%;
     

    &:focus {
          outline: 3px solid #5294FE;
    }

    &:active {
           outline: 3px solid #5294FE;
    }
}

 #mc_embed_signup_scroll_nisa .mc-field-group input,
 #mc_embed_signup_scroll_nisa select {
    display: inline;
    /*width: auto;*/
    float: left;
    border: none;
    width: 3%;
     

    &:focus {
          outline: 3px solid #5294FE;
    }

    &:active {
           outline: 3px solid #5294FE;
    }
}






/*makes ul li font size same as other font on form*/

#mc_embed_signup_scroll, #mc_embed_signup_scroll_nisa {
    ul {
        padding-left: 0;

        li {
            list-style-type: none;
        }
    }

    label {
        font-size: 14px;
    }
    .row {
        padding-left: 15px;
    }
}



/*removes large gap between fields*/

#mc_embed_signup .mc-field-group {
    clear: left;
    position: relative;
    width: 96%;
    padding-bottom: 0%;
    min-height: 50px;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
      display: none !important;
}



#mc_embed_signup input.mce_inline_error {
    outline:2px solid red;
}

#mc-embedded-subscribe,
#mc_embed_signup_scroll ul>li:nth-child(3) #mc_embed_signup .button {
    clear: both;
    float: right;
    border: 0 none;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
    color: white;
    border-color: solid 1px $minor-navy;
    background-color: $primary-blue;
    &:hover {
        color: black;
        border-color: solid 1px $minor-navy;
        background-color: $minor-blue;
    }

    &:focus {
        color: white;
        border-color: solid 1px $minor-navy;
        outline: 3px solid $focus-blue;
        outline-offset: -1px;
        background-color: $primary-blue;
    }

    &:active {
        color: black;
        border-color: solid 1px $minor-navy;
        background-color: $minor-teal;
        box-shadow: 0 0 0 0 rgba(81, 203, 238, 1);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .5;

        &:hover {
            color: black;
            background-color: $minor-navy;
        }
    }
}

#mc-embedded-subscribe-form {
    padding-bottom: 2em;
}



//Login form
#user-login #edit-actions {
    float: right;
    margin-top: 1em;
}