// _bookcontent.scss

// Top or left menu

#block-book-navigation {
    h2 {
        margin-bottom: 0;
    }

    ul {
        padding-left: .8em;

        li {
            font-size: 0.95em $imp;

            ul {
                padding-left: .8em;
            }
        }

        a {
            &.active-trail.active {
                font-weight: bold;
            }
        }
    }
}

.node-corporate-publications footer {
    display: none;
}

.book-navigation {
    .btn {
        display: none;
    }

    .page-links {
        a {
            display: inline-block;
            width: 29%;
            margin: 1em 1.5%;
            text-align: center;

            @include mobile-sm-only {
                display: block;
                width: auto;
            }
        }
    }

    ul {
        li {
            &.previous a,
            &.next a {
                width: 100%;
                margin-bottom: 1em;

                @include desktop {
                    width: 35%;
                }
            }

            a {
                &.page-up {
                    margin-bottom: 1em;
                }
            }
        }
    }
}