// _breadcrumbs.scss

.block-crumbs-wrapper {
    display: none;
    margin: 1em 0;

    @include desktop {
        display: block;
        font-size:0.9em;
    }




    & li + li:before {
        padding: 0;
        content: '> ';
        color: black;
    }

    .breadcrumb {
        padding: 0;
        background-color: transparent;

        a {
            color: $primary-blue;
            border-bottom: solid $link-border-width transparent;

            &:hover {
                border-bottom: solid $link-border-width $primary-blue;
            }
        }
    }
}