// _buttons.scss
.form-submit,
.btn-primary,
.btn-info,
.btn-default,
#edit-reset,
#edit-submit-taxonomy-term {
  transition: .3s;

  border-color: $minor-navy;
  background-color: $primary-blue;
  color: white;

  &:hover {
    border-color: $minor-navy;
    background-color: $minor-blue;

    color: black;
  }

  &:focus {
    border-color: $minor-navy;
       background-color: $primary-blue;
    color: black;
  }

  &:active {
    border-color: $minor-navy;

    background-color: $minor-teal;
    color: black;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;

    &:hover {
      background-color: $minor-navy;
      color: black;
    }
  }
}

.views-exposed-form {
  .views-exposed-widget {
    .btn {
      font-size: .9em;
      margin-top: 2.9em;
    }
  }
}

// govCMS override
[class^='icon-'],
[class*=' icon-'] {
  font-family: 'Roboto', sans-serif;
  font-size: inherit;
}


/*webform button and spacing - general feedback form*/

#webform-client-form-13321 {
  margin-bottom: 1em;
}

#region-content div.form-actions {
  margin-top: -2em;
}

#webform-client-form-13321 .form-actions button {
  &:active {
     border-color: $minor-navy;
    background-color: $minor-teal;
    color: black;
  }
   &:hover {
    color: black;}
}


/*webform button and spacing - beta banner feedback form*/

#webform-client-form-13336 {
  max-width: 1170px;
  padding-bottom: 1em;
  margin: auto;

  button {
    float: right;
    margin-top: -2em;
  }
}

#webform-client-form-13336 .form-actions button {
  &:active {
 border-color: $minor-navy;
    background-color: $minor-teal;
    color: black;
  }
}
