// _buttons.scss
/*.button{
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: $white;
  border: 0;
  appearance: none;
  

  &:hover,
  &:focus {
    color: $black;
    background-color: $minor-teal-2;
  }

  &:active {
    color: $white;
    background-color: $minor-navy;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;

    &:hover {
      background-color: $minor-navy;
    }
  }
}*/
.btn-primary,
.btn-info,
.btn-default {
    transition: .3s;
    color: white;
    border-color: $minor-navy;
    background-color: $primary-blue;

    &:hover,
    &:focus {
        border-color: $minor-navy;
        background-color: $primary-grey-dark;
    }

    &:active {
        color: $white;
        background-color: $minor-navy;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .5;

        &:hover {
            background-color: $minor-navy;
        }
    }
}

.btn-primary {
    &:hover,
    &:focus {
        color: white;
        border-color: $minor-navy;
        background-color: $primary-grey-dark;
    }

    &:active {
        color: $white;
        background-color: $minor-navy;
    }
}

#edit-reset {
    &:hover,
    &:focus {
        color: white;
        border-color: $minor-navy;
        background-color: $primary-grey-dark;
    }

    &:active {
        color: $white;
        background-color: $minor-navy;
    }
}

.views-exposed-form {
    .views-exposed-widget {
        .btn {
            font-size: .9em;
            margin-top: 2.9em;
        }
    }
}

// govCMS override
[class^='icon-'],
[class*=' icon-'] {
    font-family: 'Montserrat', sans-serif;
    font-size: inherit;
}

/*webform button and spacing - general feedback form*/

#webform-client-form-13321{
  margin-bottom:1em;
  }
#region-content div.form-actions {
  margin-top:-2em;
}

/*webform button and spacing - beta banner feedback form*/

#webform-client-form-13336 {
  max-width: 1170px;
  padding-bottom: 1em;
  margin:auto;
  button{
    float:right;
    margin-top:-2em;
  }
}
