// _buttons.scss

$buttonTextSize: 0.9em;

.form-submit,
.btn-primary,
.btn-info,
.btn-default,
#edit-reset,
#edit-submit-taxonomy-term {
    transition: .3s;
    color: white;
    border-color: solid 1px $minor-navy;
    background-color: $primary-blue;

    &:hover {
        color: black;
        border-color: solid 1px $minor-navy;
        background-color: $minor-blue;
    }

    &:focus {
        color: white;
        border-color: solid 1px $minor-navy;
        outline: 3px solid $focus-blue;
        outline-offset: -1px;
        background-color: $primary-blue;
    }

    &:active {
        color: black;
        border-color: solid 1px $minor-navy;
        background-color: $minor-teal;
        box-shadow: 0 0 0 0 rgba(81, 203, 238, 1);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .5;

        &:hover {
            color: black;
            background-color: $minor-navy;
        }
    }
}

/* fixing password reset button placement */
.page-user-reset #region-content .form-actions,
.page-user-password #region-content .form-actions {
    margin-top: 2em;
}

.views-exposed-form {
    .views-exposed-widget {
        .btn {
            font-size: $buttonTextSize;
            margin-top: 2.9em;
        }
    }
}

// govCMS override
[class^='icon-'],
[class*=' icon-'] {
    font-family: 'Roboto', sans-serif;
    font-size: inherit;
}

#region-content div.form-actions {
    margin-top: -2em;
}

/*webform button and spacing - general feedback form*/

#webform-client-form-13321 {
    margin-bottom: 1em;

    .form-actions {
        button {
            font-size: $buttonTextSize;

            &:active {
                color: black;
                border-color: solid 1px $minor-navy;
                background-color: $minor-teal;
                box-shadow: 0 0 0 0 rgba(81, 203, 238, 1);
            }

            &:hover {
                color: black;
                border-color: solid 1px $minor-navy;
            }
        }
    }
}

/*webform button and spacing - beta banner feedback form*/

#webform-client-form-13336 {
    .form-actions {
        button {
            max-width: 1170px;
            margin: auto;
            padding-bottom: 1em;

            button {
                float: right;
                margin-top: -2em;
            }

            &:active {
                color: black;
                border-color: solid 1px $minor-navy;
                background-color: $minor-teal;
                box-shadow: 0 0 0 0 rgba(81, 203, 238, 1);
            }
        }
    }
}