// _crest.scss

#print-crest {
    display: none;

    @include print {
        display: block;

        a {
            &:after {
                display: none;
            }
        }
    }
}

.logos {
    margin: 0 $imp;

    @include desktop {
        float: left $imp;
    }


    .coa-inline {
        // inline crest styles
        float: none;

        @include mobile-sm-only {
            position: relative;
            z-index: 500;
            zoom: 1; // IE fix :(
        }


        @include desktop {
            float: left;
        }


        @include print {
            display: block;
            width: 100%;
        }
    }

    .coa-titles {
        font-family: 'Times New Roman', Arial;
        font-weight: bold;
        position: relative;
        width: 100%;
        min-height: 6em; // 8.5em

        text-shadow: none;

        a {
            position: absolute;
            z-index: 500;
            top: 0;
            display: block;
            min-width: 16.5em;
            padding: 1em;
            border-color: transparent;

            @include mobile-only {
                transform: scale(0.8);
                width: 22em; // larger width handles Android crest-split bug
                transform-origin: top left;
            }


            @include tablet {
                left: 0;
                transform: none;
            }


            @include desktop {
                position: relative;
                width: auto;
            }


            &:hover {
                border-bottom-color: transparent;
            }

            &:active {
                border-color: transparent;
            }

            &:after {
                position: relative;
                clear: both;
                width: 100%;
                content: '';
            }
        }

        span {
            display: block;
            border: none;

            &:first-child {
                margin-bottom: 3px;
                padding-bottom: 3px $imp;
                border-bottom: solid 1px $white;

                @include print {
                    border-bottom: solid 1px $black;
                }
            }

            &:last-child {
                margin-top: 3px;
            }
        }

        p {
            margin: 0;
            padding: 0;
            color: $white;
        }

        .coa-img {
            float: left;
            max-width: 6.5em;

            @include print {
                width: 6rem;
            }


            + div {
                display: inline-block;
                margin: 20px 0 0 10px; // use px here as the crest is a fixed size and spacing must be maintained for branding purposes
                + p {
                    font-size: 2em;
                    font-weight: bold;
                    position: absolute;
                    top: 2rem;
                    right: -6rem;
                }
            }
        }

        .coa-img,
        span[class*='coa-lines-'] {
            padding: 0;
            color: $white;
        }
    }
}

@include ie {
    .logos {
        .coa-titles {
            min-width: 20em;
        }
    }
}