// _crest.scss

#print-crest {
    display: none;
    visibility: hidden;

    // Show print baner image

    @include print {
        display: block;
        visibility: visible;
        margin-bottom: 24pt;
    }
}

.logos {
    margin: 0 $imp;

    @include desktop {
        float: left $imp;
    }


    .coa-inline {
        // inline crest styles
        float: none;
        
        p {
            font-size: $crest-font-size-l2;
            line-height: $crest-line-height;
        }

        @include mobile-sm-only {
            position: relative;
            z-index: 500;
            zoom: 1; // IE fix :(
            width: 70%;
        }


        @include desktop {
            float: left;
        }


        @include print {
            display: block;
            width: 100%;
        }
    }

    .coa-titles {
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        position: relative;
        width: 100%;
        min-height: 6em;
        text-shadow: none;

        div {
            font-size: 14px;
        }

        a {
            position: absolute;
            z-index: 500;
            top: 0;
            display: block;
            width: 22em; // larger width handles Android crest-split bug
            min-width: 16.5em;
            padding: 1em 0;
            border-color: transparent;

            @include mobile-only {
                transform: scale(0.8);
                transform-origin: center left;
            }


            @include mobile-sm-only {
                width: 20em;
            }


            @include tablet {
                left: 0;
                transform: none;
                padding: 1em;
            }


            @include desktop {
                position: relative;
                width: auto;

                // IE fix, randomly loads crest small, then it jumps larger...
                transition-delay: 0s;
                transition-duration: 0s;

                // End IE fix :D
            }


            &:hover {
                border-bottom-color: transparent;
            }

            &:active {
                border-color: transparent;

                @include mobile-only {
                    background-color: transparent;
                }
            }

            &:focus {
                outline: 3px solid $focus-blue;
            }

            &:after {
                position: relative;
                clear: both;
                width: 100%;
                content: '';
            }

            & > div {
                border: none;

                // First line of Crest text, 'Austrlian government'
                & > div:first-child {
                    margin-bottom: 3px;
                    padding-bottom: 2px $imp;
                    border-bottom: solid 1px $white;

                    @include print {
                        border-bottom: solid 1px $black;
                    }
                }

                & > div:last-child {
                    margin-top: 3px;
                }
            }
        }

        p {
            margin: 0;
            padding: 0;
            color: $white;
        }

        .coa-img {
            float: left;
            max-width: 6.5em;

            @include print {
                width: 6rem;
            }


            + div {
                display: inline-block;
                margin: 15px 0 0 10px; // use px here as the crest is a fixed size and spacing must be maintained for branding purposes
                + p {
                    // 'Beta' text
                    font-size: 2em;
                    font-weight: bold;
                    position: absolute;
                    top: 2rem;
                    right: -6rem;
                }
            }
        }

        .coa-img,
        div[class*='coa-lines-'] {
            padding: 0;
            color: $white;
        }
        
        .coa-line-one {
            font-size: $crest-font-size-l1;
            line-height: $crest-line-height;
        }
    }
}

@include ie {
    .logos {
        .coa-titles {
            min-width: 20em;
        }
    }
}