// _forms.scss
.form-control {
    border-color: #888;
}

// Feedback form
#webform-client-form-13321 {
    margin-top: 1em;

    label {
        padding-left: 0;
        color: $black;
    }

    .form-actions {
        margin-top: 1em;
        text-align: right;

        button {
            color: white;
        }
    }

    .radio input[type=radio] {
        margin-left: 0;
    }

    .webform-component-radios {
        // Question label
        &.form-group {
            margin-bottom: 0;

            > label {
                &.control-label {
                    font-weight: bold;
                }
            }
        } // Radio checkboxes
        input[id^='edit-submitted-rating-'] {
            position: relative;
            margin-right: 5px;
        }
    }

    .help-block {
        font-size: .9em;
        color: #333;
    }
}


//State of Space Report: Feedback form - acsf 3906 only

#webform-client-form-43221 .form-select {
    @include desktop {
        width: 9em;
    }
}

#webform-client-form-43221 #edit-submitted-accept-privacy-statement-below {
    @include desktop {
        float: left;
    }
}

#webform-client-form-43221 .email {
    @include desktop {
        width: 25em;
    }
}

// end State of Space Report: Feedback form

// beta feedback font weight
#webform-client-form-13336 .control-label,
#webform-client-form-13321 .control-label {
    font-size: initial;
}

// NISA mailchimpform
#mc_embed_signup {
    li {
        list-style: none;
        list-style-type: none;
    }

    ul {
        padding: 0;
    }

    .mc-field-group {
        margin-left: 1em;
    }

    .cbgroup1 {
        display: inline;
    }

    label {
        display: inline;
    }
}

// Any webform options list boxes
.node-webform,
.block-webform {
    @include tablet {
        .checkbox,
        .radio {
            display: inline-block;
            width: 50%;
            margin-top: 0;
            margin-bottom: 0;
        }
    }


    form .checkbox input[type=checkbox],
    form .checkbox-inline input[type=checkbox],
    form .radio input[type=radio],
    form .radio-inline input[type=radio] {
        margin-left: -20px;
    }

    .control-label {
        font-size: inherit;
        margin-top: 0;
    }

    form label {
        font-weight: 400;
        width: 100%;
        margin-top: 1em;
        color: black;
    }

    .form-actions {
        .form-submit {
            float: right;
            margin-top: 2em;

            &:active {
                color: black;
                border-color: solid 1px $minor-navy;
                background-color: $minor-teal;
                box-shadow: 0 0 0 0 rgba(81, 203, 238, 1);
            }
        }
    }
}

// mailchimp privacy form
#privacy-content {
    display: none;
}

// all mailchimp

#mc_embed_signup {
    clear: left;
    background: #fff;
}

#mc_embed_signup .mc-field-group {
    margin-left: 0;
}

form .optional,
form .required {
    float: none;
    color: #777;
}

#mc_embed_signup .mc-field-group {
    position: relative;
    clear: left;
    width: 100%;
    min-height: 50px;
    padding-bottom: 0;
}


//Login form
#user-login #edit-actions
{float:right;
margin-top: 1em;}