// _forms.scss
.form-control {
    border-color: #888;
}

// Feedback form
#webform-client-form-13321 {
    margin-top: 1em;

    label {
        padding-left: 0;
        color: $black;
    }

    .form-actions {
        margin-top: 1em;
        text-align: right;

        button {
            color: white;
        }
    }
    .radio input[type=radio] {
        margin-left: 0px;
    }

    .webform-component-radios {
        // Question label
        &.form-group {
            margin-bottom: 0;

            >label {
                &.control-label {
                    font-weight: bold;
                }
            }
        } // Radio checkboxes
        input[id^='edit-submitted-rating-'] {
            position: relative;
            margin-right: 5px;
        }
    }

    .help-block {
        font-size: .9em;
        color: #333;
    }
}

#webform-client-form-43433 .form-select, #webform-client-form-43321 .form-select {
    @include desktop {
        width: 9em;
    }
    
}

#webform-client-form-43433 #edit-submitted-accept-privacy-statement-below, #webform-client-form-43321 #edit-submitted-accept-privacy-statement-below {
    @include desktop {
        float: left;
    }
}

#webform-client-form-43433 .email, #webform-client-form-43321 .email {
    @include desktop {
       width:25em;
    }
}



//beta feedback font weight
#webform-client-form-13336 .control-label,
#webform-client-form-13321 .control-label {
    font-size: initial;
}

//NISA mailchimpform
#mc_embed_signup {
    li {
        list-style: none;
        list-style-type: none;
    }

    ul {
        padding: 0;
    }

    .mc-field-group {
        margin-left: 1em;
    }

    .cbgroup1 {
        display: inline;
    }

    label {
        display: inline;
    }
}

//Any webform options list boxes
.node-webform,
.block-webform {




    form .checkbox input[type=checkbox],
    form .checkbox-inline input[type=checkbox],
    form .radio input[type=radio],
    form .radio-inline input[type=radio] {
        margin-left: -20px;
    }

    .control-label {
        font-size: inherit;
        margin-top: 0;
    }

    form label {
    margin-top: 1em;
    color: black;
    font-weight: 400;
    width: 100%;
}

    .form-actions {
        .form-submit {
            float: right;
            margin-top: 2em;

            &:active {
                color: black;
                border-color: solid 1px $minor-navy;
                background-color: $minor-teal;
                box-shadow: 0 0 0 0 rgba(81, 203, 238, 1);
            }
        }
    }

    @include tablet {
        .checkbox,
        .radio {
            display: inline-block;
            width: 50%;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    /*@include desktop {
        .checkbox,
        .radio {
            display: inline-block;
            width: 31%;
            margin-top: 0;
            margin-bottom: 0;
        }
    }*/
}


//mailchimp privacy form
#privacy-content {
    display: none;
}

//all mailchimp

#mc_embed_signup {
    background: #fff;
    clear: left;

}

#mc_embed_signup .mc-field-group {
    margin-left: 0em;
}

form .optional, form .required {
    color: #777;
    float: none;
}

#mc_embed_signup .mc-field-group {
    clear: left;
    position: relative;
    width: 100%;
    padding-bottom: 0; 
    min-height: 50px;
}