// _icons.scss

.no-js {
    // Social share icons
    #share-this-page {
        position: absolute;
        z-index: 999;
        right: 0;

        p {
            margin: 0;
        }

        a {
            display: block;
            width: auto;
        }
    }

    // Footer links
    #footer-follow-links {
        a {
            position: relative;
            display: block $imp;
            display: inline-block;
            clear: both;
            width: 2.5em;
            height: 2em;
            margin-right: 1em;

            > svg {
                display: block;
                width: auto;
                height: 100%;

                path {
                    fill: $white;
                }
            }
        }
    }
}

.js {
    // Social share icons
    #share-this-page {
        position: relative;
        z-index: 0;

        a {
            display: inline-block;
            clear: none;
            color: $primary-blue;
            border: 2px solid transparent;

            &:hover {
                border-bottom: solid 2px $links-body;
            }

            &:active {
                color: $white;
            }

            span {
                display: none;
            }
        }
    }

    // Footer links
    #footer-follow-links {
        a {
            display: inline-block $imp;
        }

        span {
            display: none;
        }
    }
}

/*Document Upload content type - align dl icon with text*/

.field-name-field-document-other div div span,
.field-name-field-document-pdf div div span {
    display: inline-flex;
    vertical-align: middle;
    align-items: flex-start;
    justify-content: center;

    svg {
        width: 1em;
        margin-top: 5px;
    }
}