// _icons.scss

.no-js {
    // Social share icons
    #share-this-page {
        position: absolute;
        right: 0;

        p {
            margin: 0;
        }

        a {
            display: block;
            width: auto;
        }
    }

    // Footer links
    #footer-follow-links {
        a {
            position: relative;
            display: block $imp;
            display: inline-block;
            clear: both;
            width: 2.5em;
            height: 2em;
            margin-right: 1em;

            > svg {
                display: block;
                width: auto;
                height: 100%;

                path {
                    fill: $white;
                }
            }
        }
    }
}

.js {
    // Social share icons
    #share-this-page {
        position: relative;

        a {
            display: inline-block;
            clear: none;

            span {
                display: none;
            }
        }
    }

    // Footer links
    #footer-follow-links {
        a {
            display: inline-block $imp;
        }

        span {
            display: none;
        }
    }
}