// _images.scss

img {
    max-width: 100%;
}

// Prevent image distortion for images added via Drupal, 
// which insert width and height as inline styles *gag*
.region-content {
    img {
        height: auto $imp;
    }
}

/* file download icon size fix for IE */
.icon-min-sz {
    min-width: 17px;
}

/* Branding images on std page */
.field-name-field-branding-banner {
    img {
        padding: 2em 0;
    }

    @media (max-width: #{$screen-tablet - 1}) {
        display: none;
    }
}

.field-name-field-branding-side {
    img {
        float: right !important; /* same as Bootstrap .pull-right */
        padding: 2em 0;

        @include mobile-only {
            float: left !important; /* same as Bootstrap .pull-left */
        }
    }
}

@include tablet-only {
    .field-name-field-branding-side {
        display: none;
    }
}


/* image captions */
.field-name-field-image-caption {
    margin: -.5em 0 1em;
}

/*home page news items*/
.pane-latest-news.col-sm-12 {
    .node-image-upload {
        padding: 1em 0;
    }
}