// _menus.scss
// Skip links
#skip-links {
    a {
        visibility: none;
        width: 100%;
        padding: .5em;
        color: $white;
        background-color: $primary-grey-dark;

        &:focus,
        &:active {
            display: block;
        }
    }
}








/*Strategic plan floating menu*/

#block-block-61 {
    position: relative;

    ul {
        padding: 0px;

        li {
            list-style-type: none;
        }
    }
}






/* Top Links Menu */

#block-menu-block-2 {
    display: none;

    @include desktop {
        display: block;
    }
}

#block-menu-block-2 {
    ul {
        li {
            a {
                position: relative;
                display: inline;
                padding: 0;
                border-color: transparent;

                &:hover {
                    border-bottom-color: $white;
                }
            }
        }
    }
}

.block-menu-block {
    float: right;
    clear: both;

    .menu-name-menu-header-links-menu {
        margin-bottom: $xl;

        .menu {
            // ul
            @extend %no-list;

            li {
                display: inline-block;
                margin: 0;
                padding: 0;

                &:nth-child(n):not(:last-child):after {
                    content: '\00a0\00a0|\00a0';
                    color: white;
                }

                a {
                    color: $white $imp;
                }
            }
        }
    }
}




//Main Menu inserted via header tpl
//Hide things when no JS available

/*remove first when data and publications has items*/

.no-js .menu-mlid-10646 a,
.no-js .menu-mlid-13246 a,
.no-js .menu-mlid-13251 a {
    margin-left: 0em;
} //sandbox hiding
.no-js #region-header .menu-mlid-24536>a,
.no-js #region-header .menu-mlid-24541>a,
.no-js #region-header .menu-mlid-24546>a,
.no-js #region-header .menu-mlid-24551>a,
.no-js #region-header .menu-mlid-24556>a,
.no-js #region-header .menu-mlid-24561>a,
.no-js #region-header .menu-mlid-24566>a,
{
    display: none;
} //acsf hiding
.no-js #region-header .menu-mlid-103691>a,
.no-js #region-header .menu-mlid-103696>a,
.no-js #region-header .menu-mlid-103701>a,
.no-js #region-header .menu-mlid-103706>a,
.no-js #region-header .menu-mlid-103711>a,
.no-js #region-header .menu-mlid-103716>a,
.no-js #region-header .menu-mlid-103751>a {
    display: none;
}



/*white line between menu items*/

#menus>li.expanded.menu-mlid-10646,
#menus>li.expanded.menu-mlid-10651,
#menus>li.expanded.menu-mlid-10656,
#menus>li.expanded.menu-mlid-10661,
#menus>li.expanded.menu-mlid-10666,
#menus>li.expanded.menu-mlid-10796,
#menus>li.leaf.menu-mlid-13246,
#menus>li.expanded.menu-mlid-10811 {

    border-bottom: 1px solid white;
    margin-right: 2em;
    padding-bottom: .5em;
}



#region-header>div.menu-block-wrapper.menu-block-14.menu-name-menu-about-us.parent-mlid-0.menu-level-1 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    clear: both;
    z-index: 9999;
}

#region-header>div.menu-block-wrapper.menu-block-14.menu-name-menu-about-us.parent-mlid-0.menu-level-1>ul {
    width: 100%;
    display: none;
    background-color: $minor-navy;
    border: none;
    padding: 1em;
    margin-top: 3em;
}

#region-header #menuflip {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    margin-top: -6em;
    padding: 4px;
}

#region-header .menu-block-14 a#menuflip.mainmenutoggle.toc-filter-processed {
    display: none;
}


/*the + and - butons*/

//sandbox

/* this is data and publications  #menus>li.leaf.menu-mlid-24536>a, */

#menus>li.leaf.menu-mlid-24541>a,
#menus>li.leaf.menu-mlid-24546>a,
#menus>li.leaf.menu-mlid-24551>a,
#menus>li.leaf.menu-mlid-24556>a,
#menus>li.leaf.menu-mlid-24561>a,
#menus>li.leaf.menu-mlid-24566>a {
    float: left;
    font-weight: bold;
    padding-right: 1em;
    display: block;
    width: 2em;
}



//ACSF only:

/* this is data and publications  #menus>li.leaf.menu-mlid-103691>a,*/

#menus>li.leaf.menu-mlid-103696>a,
#menus>li.leaf.menu-mlid-103701>a,
#menus>li.leaf.menu-mlid-103706>a,
#menus>li.leaf.menu-mlid-103711>a,
#menus>li.leaf.menu-mlid-103716>a,
#menus>li.leaf.menu-mlid-103751>a {

    float: left;
    font-weight: bold;
    padding-right: 1em;
    display: block;
    width: 2em;
}






.menu-block-14 ul li a {
    color: white;
    border: solid 1px transparent;
    &:hover {
        text-decoration: underline;
        border: solid 1px transparent;
    }
}


/* no menu items #datamenu */

#fundingmenu,
#strategiesmenu,
#regmenu,
#commenu,
#govmenu,
#aboutmenu {
    display: none;
}



/*remove first when data and publications has sub menu items*/

.js .menu-mlid-10646 a,
.js .menu-mlid-13246 a,
.js .menu-mlid-13251 a {
    margin-left: 2em;
}

.no-js #region-header ul li ul {
    margin: 0px;
    li {
        margin-left: 5%;
    }
}


.js #region-header ul li ul {
    margin: 0px;
    li {
        margin-left: 50px;
    }
}







@include desktop {

    #region-header>div.menu-block-wrapper.menu-block-14.menu-name-menu-about-us.parent-mlid-0.menu-level-1 {
        margin-top: 7em;
    }


    #region-header #menuflip {
        margin-top: -2.2em;
    }

    #region-header>div.menu-block-wrapper.menu-block-14.menu-name-menu-about-us.parent-mlid-0.menu-level-1>ul {
        margin-top: 0px;
    }
}


//CSS type - based off https://codeburst.io/how-to-make-a-collapsible-menu-using-only-css-a1cd805b1390
.collapsible-menu {
    position: absolute;
    z-index: 1000;
    width: 97%;
}

.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}

.collapsible-menu a {
    text-decoration: none;
}

.collapsible-menu label {
    display: block;
    cursor: pointer;
    color: white;
    float: right;
    margin-top: -6em;
    text-transform: uppercase;
    font-size: 1.2em;
    /*padding: 5px;*/
    margin-right: 1em;
    text-align: center;
    font-weight: 200;
}

.collapsible-menu label::before {
    content: "\2630  Menu";
    color: white;
}


.collapsible-menu input#menu {
    display: inline-block;
    margin-left: -999999px;
    margin-top: -1.8em;
    max-height: 1px;
    max-width: 1px;
}

.collapsible-menu .menu-content {
    max-height: 0;
    overflow: hidden;
    background-color: $minor-navy;
    width: 94%;
    margin-top: -4em;
    padding-left: 1em;
    border-bottom: .5em solid white;
    font-size: 0.9em;
}






/* Toggle Effect */

//This first one is the tabbing glow
.collapsible-menu input[type=checkbox]:focus+label {
    box-shadow: 0px 0px 0px 3px cadetblue;
    /*border: 1px solid white;*/
}



.collapsible-menu input:checked~label::before {
    content: "X  Close";
    color: white;
}



.collapsible-menu input:checked~.menu-content {
    max-height: 100%;
}

.collapsible-menu input#menu+label+div.menu-content {
    display: none;
}

.collapsible-menu input#menu:checked+label+div.menu-content {
    display: block;
}



//Desktop
@include desktop {
    .collapsible-menu label {
        margin-top: -1.4em;
        margin-right: 0em;
        font-size: 1.7em;
    }

    .collapsible-menu .menu-content {
        max-height: 0;
        overflow: hidden;
        background-color: $minor-navy;
        width: 100%;
        margin-top: -1em;
        font-size: 1em;
    }
}