// _menus.scss
// Skip links
#skip-links {
    a {
        visibility: none;
        width: 100%;
        padding: .5em;
        color: $white;
        background-color: $primary-grey-dark;

        &:focus,
        &:active {
            display: block;
        }
    }
}

/*Strategic plan floating menu*/

#block-block-61 {
    position: relative;

    ul {
        padding: 0;

        li {
            list-style-type: none;
        }
    }
}

/* Top Links Menu */

#block-menu-block-2 {
    display: none;

    @include desktop {
        display: block;
    }
}

#block-menu-block-2 {
    ul {
        li {
            a {
                position: relative;
                display: inline;
                padding: 0;
                border-color: transparent;

                &:hover {
                    border-bottom-color: $white;
                }
            }
        }
    }
}

.block-menu-block {
    float: right;
    clear: both;

    .menu-name-menu-header-links-menu {
        margin-bottom: $xl;

        .menu {
            // ul
            @extend %no-list;

            li {
                display: inline-block;
                margin: 0;
                padding: 0;

                &:nth-child(n):not(:last-child):after {
                    content: '\00a0\00a0|\00a0';
                    color: white;
                }

                a {
                    color: $white $imp;
                }
            }
        }
    }
}

// Main Menu inserted via header tpl
// Hide things when no JS available

.no-js {
    // remove first when data and publications has items
    .menu-mlid-10646 a,
    .menu-mlid-13246 a,
    .menu-mlid-13251 a {
        margin-left: 0;
    }

    // sandbox and ACSF hiding
    #region-header {
        .menu-mlid-24536,
        .menu-mlid-24541,
        .menu-mlid-24546,
        .menu-mlid-24551,
        .menu-mlid-24556,
        .menu-mlid-24561,
        .menu-mlid-24566,
        .menu-mlid-103691,
        .menu-mlid-103696,
        .menu-mlid-103701,
        .menu-mlid-103706,
        .menu-mlid-103711,
        .menu-mlid-103716,
        .menu-mlid-103751 {
            & > a {
                display: none;
            }
        }
    }
}

// white line between menu items

#menus {
    & > li {
        &.leaf.menu-mlid-13246 {
            margin-right: 2em;
            padding-bottom: .5em;
            border-bottom: 1px solid white;
        }

        &.expanded {
            &.menu-mlid-10646,
            &.menu-mlid-10651,
            &.menu-mlid-10656,
            &.menu-mlid-10661,
            &.menu-mlid-10666,
            &.menu-mlid-10796,
            &.menu-mlid-10811 {
                margin-right: 2em;
                padding-bottom: .5em;
                border-bottom: 1px solid white;
            }
        }
    }
}

#region-header {
    & > div {
        &.menu-block-wrapper {
            &.menu-block-14 {
                #menuflip {
                    font-weight: bold;
                    float: right;
                    margin-top: -6em;
                    padding: 4px;
                    text-transform: uppercase;
                    color: white;

                    &.mainmenutoggle {
                        &.toc-filter-processed {
                            display: none;
                        }
                    }
                }

                &.menu-name-menu-about-us {
                    &.parent-mlid-0 {
                        &.menu-level-1 {
                            position: absolute;
                            z-index: 9999;
                            top: 0;
                            right: 0;
                            left: 0;
                            clear: both;

                            & > ul {
                                display: none;
                                width: 100%;
                                margin-top: 3em;
                                padding: 1em;
                                border: none;
                                background-color: $minor-navy;
                            }
                        }
                    }
                }
            }
        }
    }
}

// The + and - butons

// sandbox data and publications  #menus>li.leaf.menu-mlid-24536>a
// ACSF data and publications  #menus>li.leaf.menu-mlid-103691>a

#menus {
    & > li {
        &.leaf {
            &.menu-mlid-24541,
            &.menu-mlid-24546,
            &.menu-mlid-24551,
            &.menu-mlid-24556,
            &.menu-mlid-24561,
            &.menu-mlid-24566,
            &.menu-mlid-103696,
            &.menu-mlid-103701,
            &.menu-mlid-103706,
            &.menu-mlid-103711,
            &.menu-mlid-103716,
            &.menu-mlid-103751 {
                & > a {
                    font-weight: bold;
                    display: block;
                    float: left;
                    width: 2em;
                    padding-right: 1em;
                }
            }
        }
    }
}

.menu-block-14 ul li a {
    color: white;
    border: solid 1px transparent;

    &:hover {
        text-decoration: underline;
        border: solid 1px transparent;
    }
}

// no menu items #datamenu

#fundingmenu,
#strategiesmenu,
#regmenu,
#commenu,
#govmenu,
#aboutmenu {
    display: none;
}

// remove first when data and publications has sub menu items

.no-js {
    #region-header {
        ul {
            li {
                ul {
                    margin: 0;

                    li {
                        margin-left: 5%;
                    }
                }
            }
        }
    }
}

.js {
    .menu-mlid-10646 a,
    .menu-mlid-13246 a,
    .menu-mlid-13251 a {
        margin-left: 2em;
    }

    #region-header {
        ul {
            li {
                ul {
                    margin: 0;

                    li {
                        margin-left: 50px;
                    }
                }
            }
        }
    }
}

@include desktop {
    #region-header > div.menu-block-wrapper.menu-block-14.menu-name-menu-about-us.parent-mlid-0.menu-level-1 {
        margin-top: 7em;
    }

    #region-header #menuflip {
        margin-top: -2.2em;
    }

    #region-header > div.menu-block-wrapper.menu-block-14.menu-name-menu-about-us.parent-mlid-0.menu-level-1 > ul {
        margin-top: 0;
    }
}


// CSS type - based off https://codeburst.io/how-to-make-a-collapsible-menu-using-only-css-a1cd805b1390
.collapsible-menu {
    position: absolute;
    z-index: 1000;
    width: 97%;

    ul {
        padding: 0;
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }

    label {
        font-size: 1.2em;
        font-weight: 200;
        display: block;
        float: right;
        margin-top: -6em;
        margin-right: 1em;

        /*padding: 5px;*/
        padding: 0 .25em;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        color: white;

        @include desktop {
            font-size: 1.7em;
            margin-top: -1.4em;
            margin-right: 0;
        }


        &::before {
            content: '\2630  Menu';
            color: white;
        }
    }

    input#menu {
        display: inline-block;
        max-width: 1px;
        max-height: 1px;
        margin-top: -1.8em;
        margin-left: -999999px;
    }

    .menu-content {
        font-size: .9em;
        overflow: hidden;
        width: 94%;
        max-height: 0;
        margin-top: -4em;
        padding-left: 1em;
        background-color: $minor-navy;

        @include desktop {
            font-size: 1em;
            overflow: hidden;
            width: 100%;
            margin-top: -1em;
        }
    }

    // Toggle Effect

    //This first one is the tabbing glow
    input[type=checkbox]:focus + label {
        outline: solid 3px $focus-blue;
    }

    input:checked {
        & ~ label::before {
            content: 'X  Close';
            color: white;
        }

        & ~ .menu-content {
            max-height: 100%;
        }

        &#menu:checked {
            & + label {
                & + div.menu-content {
                    display: block;
                    border-bottom: 0.5em solid $white;
                }
            }
        }
    }
}

// Disable tabbing through the main menu when hidden
.no-js {
    #menu:not(:checked) {
        & + label + .menu-content {
            display: none;
        }
    }
}