// _menus.scss

// Skip links

#skip-links {
    a {
        visibility: none;
        width: 100%;
        padding: .5em;
        color: $white;
        background-color: $primary-grey-dark;

        &:focus,
        &:active {
            display: block;
        }
    }
}

/*Strategic plan floating menu*/



#block-block-61 {
    position: relative;
     ul li{
        list-style-type: none;
     }
}

// Main nav - normally hidden by MeanMenu
// @TODO: Make this appear inline like Superfish, to make the MeanMenu 'jump' on load more graceful

#block-menu-menu-about-us {
    display: none;
    clear: both;

    ul {
        margin: 0;

        li {
            padding: .75em 0 .75em .75em;
            border-bottom: solid 1px $white;

            &:last-child {
                border: none;
            }

            a {
                display: inline;
                color: $white $imp;

                &:hover,
                &:focus {
                    border-bottom-color: $white;
                }
            }
        }

        > li {
            position: relative;

            @extend %no-margin-padding;

            @extend %no-list;

            > ul {
                display: none;
            }

            // A super-rough CSS-only dropdown menu for if JS is disabled/borked
            &:hover {
                > ul {
                    display: block;
                }
            }

            li {
                margin-left: $lg;
                border-color: rgba($white, 0.5);
            }
        }
    }
}

// MeanMenu (primary navigation)

$menu-icon-size: 2.5em;

#meanmenu-dest {
    margin: 0 auto 1em auto;
}

.mean-container {
    position: relative;
    z-index: 50;
    top: 0;
    right: 0;
    left: 0;
    clear: both;

    .mean-bar {
        position: absolute;
        top: -9em;
        width: 100%;
        margin: 0 auto;
        padding: 1em;

        @include desktop {
            top: -6em;
        }


        a {
            position: relative;
            display: block;
            color: $white $imp;
            border: none;

            &:hover {
                border: none;
            }

            &:active {
                border: none;
                background-color: transparent;
            }

            // Hamburger menu icon

            &.meanmenu-reveal {
                position: relative;
                z-index: 9999;
                right: 1em $imp;
                float: right;
                width: $menu-icon-size;
                height: $menu-icon-size;
                color: $white $imp;

                span {
                    position: relative;
                    display: block;
                    height: 5px;
                    background: $white;

                    &:nth-child(2) {
                        margin: .4em 0;
                    }

                    &:last-child {
                        font-size: 80%;
                        position: absolute;
                        bottom: 8px;
                        background: none;
                    }
                }

                &:hover {
                    border-bottom: none;
                }

                + .mean-nav {
                    padding: 0 1em;
                    background-color: $minor-navy;
                }
            }

            &.meanclose {
                @extend %no-margin-padding;

                span {
                    &:not(:last-child) {
                        position: relative;
                        transform: rotate(45deg);
                        transform-origin: center center;
                    }

                    &:first-child {
                        top: 8px;
                        transform: rotate(-45deg);
                    }

                    &:nth-child(2) {
                        top: 3px;
                        margin: 0;
                    }
                }
            }
        }

        nav {
            &.mean-nav {
                position: relative;
                clear: both;
                margin-top: 4em;

                // Submenus (ul)

                ul {
                    margin: 0;

                    &.menu {
                        margin-top: .75em;

                        @extend %no-margin-padding;

                        // Menu items
                        li {
                            padding: .75em 0 .75em .75em;
                            border-bottom: solid 1px $white;

                            &:last-child {
                                border: none;
                            }

                            a {
                                display: inline;

                                @extend %link-border;

                                &:hover,
                                &:focus {
                                    border-bottom: solid 2px $white;
                                }

                                &:active {
                                    color: $primary-blue $imp;
                                    background-color: $white;
                                }
                            }
                        }

                        > li {
                            position: relative;

                            @extend %no-margin-padding;

                            @extend %no-list;

                            li {
                                margin-left: $lg;
                                border-bottom-color: rgba($white, 0.6);
                            }
                        }

                        // Submenu wrappers (ul) spacing
                        .dropdown-menu {
                            margin-top: .75em;

                            .expanded {
                                .active {
                                    color: rgba($white, 0.7) $imp;
                                }
                            }
                        }

                        // submenu expand-contract icons
                        .mean-expand {
                            font-size: $lg $imp;
                            font-weight: bold;
                            position: absolute;
                            top: 0;
                            right: 0;
                            display: inline-block;
                            min-width: 2em;
                            padding: .25em .6em;
                            text-align: center;

                            &:hover,
                            &:focus,
                            &:active {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }

}

// Top Links Menu
#block-menu-block-2 {
    display: none;

    @include desktop {
        display: block;
    }
}

#block-menu-block-2 {
    ul {
        li {
            a {
                position: relative;
                display: inline;
                padding: 0;
                border-color: transparent;

                &:hover {
                    border-bottom-color: $white;
                }
            }
        }
    }
}

.block-menu-block {
    float: right;
    clear: both;

    .menu-name-menu-header-links-menu {
        margin-bottom: $xl;

        .menu {
            // ul
            @extend %no-list;

            li {
                display: inline-block;
                margin: 0;
                padding: 0;

                &:nth-child(n):not(:last-child):after {
                    content: '\00a0\00a0|\00a0';
                    color: white;
                }

                a {
                    color: $white $imp;
                }
            }
        }
    }
}



