// _messages.scss

.messages-wrapper {
    width: 100%;
}

#messages-console {
    max-width: 1150px;
    margin: 0 auto;

    .alert {
        margin: 1em 0;
        border-width: 3px;

        &.alert-success {
            border-color: #7ec740;

            & > a {
                color: #3c763d;
                opacity: 1;
                border-bottom: none;
            }
        }
    }
}

/* Hide messages between header and breadcrumbs on mobile */
@media (max-width: #{$screen-desktop - 1px}) {
    .messages-wrapper-under-header {
        display: none;
    }
}

/* Hide messages above header on desktop */
.messages-wrapper-top {
    @include desktop-up {
        display: none;
    }
}