// _print.scss
@page {
    margin: 1.235cm;
}

h2, h3, h4, h5, h6 {
    page-break-after: avoid;
}

img {
    max-width: 100% !important;
}

ul, img {
    page-break-inside: avoid;
}

html {
    font-size: 15px;

    body #region-content {
        p, ul li {
            font-size: 1.1rem;
        }
    }
}

#toolbar,
header,
footer,
.tabs,
#block-block-6,
#block-block-26,
#block-block-41,
#above-main .block-crumbs-wrapper,
#above-main .bean-admin-template-elements,
.field-name-field-sector-keywords,
#block-webform-client-block-13321,
#no-js-alert {
    display: none;
}

#region-content {
    display: block;
}

.field-name-changed-date {
    margin-top: 1em;
}

.page-url {
    display: inline;
    position: relative;
    bottom: -2em;
}

.front {
    .view-header {
        .file-image {
            display: none;
        }
    }

    .hero-list-target {
        display: block $imp;
    }

    .node-image-upload {
        .field-type-image {
            img {
                display: none $imp;
            }
        }
    }
}