// _searchform.scss

// Override some Bootstrap stuff

form {
    .btn {
        margin-top: 0;
    }
}

.form-control {
    height: auto;
}

#edit-keys {
    font-size: 1.2em;
}

/*Removes tabs from search*/
.search-tabs ul.tabs--primary.nav.nav-tabs li {
    display: none;
}

// End Override

.block-search {
    position: relative;
    clear: both;
    max-width: 90%; // to keep the search icon away from the edge of the screen. Stupid Samsungs now have stupid curved edges that make tapping a button difficult.
    margin: 0 auto;

    @include tablet {
        max-width: 95%;
    }


    @include desktop {
        z-index: 500;
        margin-top: 3em;
        margin-right: 6em;
    }


    form {
        position: relative;

        @include desktop {
            float: right;
        }


        .btn {
            padding: 0 $imp;
        }

        #edit-submit,
        #edit-submit--2 {
            display: none;
        }

        .input-group {
            //float: left;
            display: block;
            margin: .5em auto;

            @include desktop {
                float: none;
                width: auto;
            }


            input {
                padding: .75em;
                color: $black;
                border: solid 1px transparent;
                border-bottom: solid 1px #7ea5ad;
                border-radius: 0;
                background-color: white;
                font-weight: 400;

                &::placeholder {
                    color: $black;
                }

                &:focus {
                    border: solid 1px #7ea5ad;
                }

                &[type='text'] {
                    width: calc(100% - 3em);
                }
            }

            .input-group-btn {
                position: absolute;
                top: .5em;
                right: 20px;

                // Search form submit button/icon. Uses CSS3 and HTML wrappers to create icon
                // Magnifying glass lens/search button
                .btn-primary {
                    font-size: 0;
                    position: relative;
                    z-index: 10;
                    top: 5px;
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    color: white;
                    border: solid 4px white;
                    border-radius: 50%;
                    background-color: transparent;

                    .icon.glyphicon {
                        display: none;
                    }
                }

                // Magnifying glass handle
                &:after {
                    position: absolute;
                    z-index: 9;
                    right: -24px;
                    bottom: -9px;
                    width: 13px;
                    height: 4px;
                    content: '';
                    transform: rotate(45deg);
                    transform-origin: bottom right;
                    background: $white;
                }
            }
        }
    }
}

/* TODO: This content needs to be rendered out by the search page/form template
#region-content #edit-basic:before {
    content: "Enter your keywords:";
    font-weight: bold;
}*/

#region-content #edit-basic button {
    transition: .3s;
    color: white;
    border-color: $minor-navy;
    background-color: $primary-blue;

    &:hover {
        color: $minor-navy;
        background-color: $minor-blue;
        border-color: $minor-navy;
    }

    &:focus {
        color: white;
        border-color: $minor-navy;
        background-color: $primary-blue;
    }

    &:active {
        border-color: $minor-navy;
        color: $minor-navy;
        background-color: $minor-teal;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .5;

        &:hover {
            background-color: $minor-navy;
        }
    }
}

// in-page search forms, such as on the search page
#region-content .glyphicon-search {
    margin: .5em;
    border-radius: 0px;
}

#region-content #edit-basic .input-group-btn {
    padding-left: 1em;
}

/*
#region-content .glyphicon-search:before {
    font-family: "Roboto", sans-serif $imp;
    content: 'Search';
    padding: 2em;
}*/