// _search.scss

#region-sidebar-first {
    // Faceted search facets
    @include mobile-sm-only {
        .well {
            padding: .5em;
        }

        #filter-toggle {
            display: block;
        }
    }


    .block {
        h2 {
            &.block-title {
                font-size: 1em;
            }
        }

        ul {
            margin: 0 0 0 1em;
            padding: 0;

            li {
                font-size: .9em;
            }
        }
    }

    #facet-filter-wrapper {
        margin-top: 1em;
    }
}

// Tweak the Faceted/Advanced Search controls in mobile view
#views-exposed-form-advanced-search-page-inner,
#views-exposed-form-faceted-search-page-inner {
    @include mobile-only {
        .views-exposed-widgets {
            .btn {
                margin-top: 1.8em;
            }

            .views-exposed-widget {
                @include mobile-only {
                    &:first-of-type {
                        float: none;
                    }

                    .btn {
                        margin-top: 0;
                    }
                }
            }

            #edit-search-api-views-fulltext-wrapper {
                label {
                    margin-top: 0;
                }
            }
        }
    }


    #edit-search-api-views-fulltext {
        font-size: .9em;
        padding: 1.1em;
    }
}

/* hide last updated label and date for publications */
.search-results {
    .views-field-changed {
        &.Publication-page {
            display: none;
        }
    }
}