// _sectorkeywords.scss

// Sector Keywords View page
#views-exposed-form-taxonomy-term-sector {
    .views-exposed-widget {
        float: none;
        padding: none;

        @include desktop {
            float: left;
            padding: .5em 1em 0 0;
        }


        .view-header {
            float: right;
            margin-top: 1.6em;
        }

        .btn {
            display: inline-block;

            @inlude desktop {
                margin-top: 2.8em;
            }
        }
    }
}

// Sector keywords appearing near the footer of Content pages

.field-name-field-sector-keywords {
    margin: 1.5em 0;

    .field-items {
        .field-item {
            display: inline-block;
            font-size: .8em;
            margin: 0 .5em;

            a {
                padding: 2px .5em;
                border: solid 1px $primary-grey-light;
                border-radius: 4px;

                &:hover,
                &:focus {
                    border: solid 1px transparent;
                    text-decoration: none;
                    color: $white;
                }

                &:hover {
                    background-color: $primary-grey-dark;
                }

                &:focus {
                    color: $primary-blue;
                    border-color: $primary-blue;
                }

                &:active {
                    background-color: $primary-blue;
                    color: $white;
                }
            }
        }
    }
}