// _testing.scss

/*
 * THIS PARTIAL IS FOR TESTING CONTENT ONLY. 
 * ALL CONTENT MUST BE VISIBLE ONLY TO AUTHENTICATED UESRS
*/
body.logged-in {
    /* Content goes below this line:
    ----------------------------------------------- */

    // Media query tests
    &:before {
        font-size: 1.2em;
        position: fixed;
        z-index: 9999;
        bottom: 0;
        display: block;
        margin: 0 auto;
        padding: .25 .5em;
        content: 'Mobile';
        color: black;
        background: green;

        @include tablet-only {
            content: 'Tablet';
            color: white;
            background: red;
        }


        @include desktop-only {
            content: 'Desktop';
            color: white;
            background: blue;
        }


        @include desktop-lg {
            content: 'Desktop large';
            background: pink;
        }


        @include print {
            content: 'Print';
            background: red;
        }
    }

    // End Media query tests

    &.logged-in {
        #region-content {
            background-color: #a3a3f1 !important;
        }

        #region-highlighted {
            background-color: #f2f2f2 !important;
        }

        #region-sidebar-first {
            background-color: #f1a3ae !important;
        }

        #region-sidebar-second {
            background-color: #a6f3a6 !important;
        }

        #about {
            background-color: orange !important;
        }
    }

    /*
    ----------------------------------
     END CONTENT */
}