// text-resize.scss

.text-resize-social-widget-wrapper {
    display: none;

    @include desktop {
        display: block;
    }
}

// hide JS-dependent controls when JS is disabled
.no-js {
    ul {
        &.text-resize {
            display: none;
        }
    }
}

.js {
    ul {
        &.text-resize {
            display: inline-block;
            float: right;
            margin-bottom: 0;

            li {
                display: inline-block;

                @extend %no-list;

                &:nth-child(1) {
                    a:after {
                        font-size: 80%;
                    }
                }

                &:nth-child(2) {
                    a:after {
                        font-size: 100%;
                    }
                }

                &:nth-child(3) {
                    a:after {
                        font-size: 120%;
                    }
                }

                a {
                    position: relative;
                    display: block;
                    overflow: hidden;
                    width: 1.5em;
                    height: 1.5em;
                    color: transparent !important;
                    border-bottom: solid 2px transparent;

                    &:hover {
                        border-bottom: solid 2px $links-body;
                    }

                    &:active {
                        &:after {
                            color: $white;
                        }
                    }

                    &:after {
                        position: absolute;
                        top: 0;
                        left: 4px;
                        content: 'A';
                        color: #333;
                    }
                }
            }
        }
    }
}