// _footer.scss

footer {
    font-size: .778rem;
    line-height: 15px;
    margin-top: 2em;
    padding: $xl 0;
    color: white;

    @extend %light-blue-top-to-dark-blue-bottom;

    a {
        position: relative;
        display: inline-block;
        max-width: 100%;
        text-decoration: none;
        color: white;
        border-bottom: solid 2px transparent;

        &:hover {
            color: $white;
            border-bottom-color: $white;
        }

        &:focus {
            color: $white;
            border-color: rgba($white, 0.7);
        }
    }

    #footer_second,
    #footer_third {
        nav {
            li {
                a {
                    padding: 0;
                }
            }
        }
    }

    #footer_first {
        ul {
            margin: 0;

            li {
                display: block;
                margin: 0 0;
                padding: .75em 0;

                @include desktop {
                    padding: 0;
                }


                a {
                    padding: 0;
                }
            }
        }

        .col-md-3 {
            ul {
                &.menu {
                    a {
                        color: white;
                    }
                }
            }
        }

        // Social media Follow icons

        #footer-follow-links {
            position: relative;
            float: left;
        }

        > nav {
            &:last-child {
                a {
                    position: relative;
                    display: inline-block;
                    width: 2em;
                    height: 2em;
                    margin-right: 1em;

                    > svg {
                        display: block;
                        width: auto;
                        height: 100%;

                        path {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }

    #footer_third {
        nav {
            .last {
                li {
                    display: block;
                    margin-top: 1em;
                }
            }
        }

        p {
            &.nolink {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: auto;
                color: $white;
            }
        }

        .wepweb {
            ul {
                li {
                    position: relative;
                    display: block;
                    margin: .75em auto;
                    padding-right: 1em;
                    padding-left: 3px;
                }
            }
        }

        .wepweblast {
            ul {
                position: relative;
                top: -14px;

                @include tablet {
                    top: 0;
                    padding-top: 30px;
                }


                li {
                    display: block;
                    margin: .75em auto;
                    padding-right: 1em;
                    padding-left: 3px;
                }
            }
        }
    }

    div {
        &[class^='region region-'] {
            position: relative;
            clear: both;
        }
    }

    .container {
        nav {
            @media (min-width: 768px) {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }

    .region-footer-lower {
        margin-top: 2em;

        p {
            text-align: center;
        }
    }

    h2 {
        font-size: .778rem;
        font-weight: bold;
        margin: 0;
        color: $white $imp;

        a {
            color: $white;
            border-bottom: dotted 2px white;

            &:hover,
            &:focus {
                color: $white;
                border-bottom-style: solid;
            }
        }
    }

    ul {
        &.menu {
            padding-right: 1em;
            padding-left: 0;

            li {
                margin: .75em 0;
                list-style-type: none;
                list-style-image: none;
            }
        }
    }

    // Apply top and bottom margins to footer sections
    div[id^='footer_'] {
        margin: 1.5em 0;

        &:after {
            position: relative;
            display: block;
            clear: both;
            content: ' ';
        }
    }

    hr {
        display: block;
        clear: both;
        border: none;
        border-top: solid 1px $white;
    }

    .region-bottom {
        .block {
            text-align: center;
        }
    }

    .region-footer-lower {
        #block-block-21,
        #block-block-11 {
            padding: 0 15px;

            @include desktop {
                max-width: 800px;
                margin: 0 auto;
            }


            p {
                font-size: .5556rem;
            }
        }
    }
}

body {
    &.front {
        footer {
            a {
                color: white;
                border-bottom: solid 2px transparent;

                &:hover {
                    color: $white;
                    border-bottom-color: $white;
                }

                &:focus {
                    color: $white;
                    border-color: rgba($white, 0.7);
                }
            }

            h2 {
                a {
                    border-bottom: dotted 2px $white;

                    &:hover {
                        border-bottom: solid 2px $white;
                    }

                    &:focus {
                        border-bottom-style: solid;
                    }
                }
            }
        }
    }
}