// _header.scss

header {
    #main-page-top {
        @include desktop {
            padding-top: 2em;
        }


        @extend %dark-blue-top-to-light-blue-bottom;

        // Mission statement
        #mission-statement {
            border-top: solid 1px $white;

            @include tablet {
                margin-bottom: 2em;
            }


            p {
                font-size: 1.6em;
                font-weight: 300;
                max-width: 100%;
                margin: 0 auto;
                padding: .75em;
                text-align: center;
                color: $white;

                @include tablet {
                    font-size: 2rem;
                }
            }
        }
    }
}

#cs-content {
    display: none;
}

.front {
    #mission-statement {
        &.container {
            padding-right: 0;
            padding-left: 0;
        }
    }
}