/* _typography.scss*/

/**
 * Fix fonts that render as bold in Firefox
 *
 * Put this near the top of your style.css
 * Before any overriding styles:
 * https://www.lockedowndesign.com/firefox-font-weight-too-bold/
 */

html {
    font-weight: 300;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

/**
 * Firefox specific rule
 */

@-moz-document url-prefix() {
    body {
        font-weight: lighter !important;
    }
}

// End fix
html {
    font-size: $font-natural; // Set this here to define '1rem/1em'

    text-rendering: optimizeLegibility;

    @include ie {
        text-rendering: auto;
    }
}

body {
    font-family: "Roboto", sans-serif $imp;
    font-size: $font-natural;

    #region-content {
        span,
        ol,
        li,
        dd,
        dt,
        dl,
        table,
        td,
        th,
        address,
        blockquote,
        a {
            font-size: unset; // undo a generic govCMS style that prevents simple text-resizing
       
        }

        ul li {
            font-size: .9em;

            ul li {
                font-size: 1em;

                ul li {
                    font-size: 1em;
                }
            }
        }

        ol li {
            font-size: .9rem;
        }
    }
}

h2,
h3,
h4,
h5,
h6 {
    color: black;
}

h1 {
    font-size: 22px;
    font-size: 1.8em;
    color: #000;

    @include tablet {
        font-size: 29px;
        font-size: 2.4em;
    }


    &.page-header {
        margin-top: .5em;
        margin-bottom: 12px;
        padding-bottom: 0;
        border-bottom: 0;

        @include desktop {
            margin-top: 0;
        }
    }
}

#main-body {
    h1 {
        color: #000;
    }
}

h2 {
    font-size: 19px;
    font-size: 1.6em;

    @include tablet {
        font-size: 19px;
        font-size: 1.6em;
    }
}

h3 {
    font-size: 17px;
    font-size: 1.4em;

    @include tablet {
        font-size: 17px;
        font-size: 1.40em;
    }
}

h4 {
    font-size: 16px;
    font-size: 1.25em;

    @include tablet {
        font-size: 16px;
        font-size: 1.30em;
    }
}

h5 {
    font-size: 14px;
    font-size: 1.20em;
    font-weight: 400;
}

h6 {
    font-size: 14px;
    font-size: 1.20em;
    font-weight: 300;
    font-style: italic;
}

p {
    font-size: $font-natural;
    font-size: .9em;
    line-height: 1.44;
    margin: 0 0 8px;
    margin: 0 0 .4444em;
}

p:last-child {
    margin-bottom: .4444em;
}

li {
    margin: 8px 0;
    margin: .6em 0;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

// Target anchors that require JavaScript to run, and highlight them if JS is disabled
.no-js:not(.js) {
    a[href^='javascript'],
    a[onclick] {
        cursor: not-allowed; // This intentionally indicates to users that the link does not function

        border-bottom: none $imp;

        @extend %disable;

        &:hover,
        &:active,
        &:focus {
            border-bottom: none $imp;
        }
    }

    // When links are enabled
    &.js {
        a[href^='javascript'],
        a[onclick] {
            background-color: unset;
        }
    }
}

a {
    color: $links-body;
    border-bottom: solid 1px $links-body;

    @extend %link-border;

    @include mobile-only {
        word-wrap: break-word;
        word-break: break-word;
        -ms-word-break: break-all;
        overflow-wrap: break-word;
    }


    // Prevent visual focusing on concealed anchor elements
    &[tabindex='-1'] {
        &:focus,
        &:active {
            visibility: hidden;
            border: none $imp;
        }
    }

    &[name] {
        border: none;
    }

    &:focus,
    &:hover,
    &:active {
        text-decoration: none;
    }

    &:focus {
        color: $links-body;
        border: dotted 1px rgba($links-body, 0.6);
    }

    &:hover {
        color: $links-body;
        border-bottom: dotted 1px $links-body;
    }

    &:active {
        color: $white;
        background-color: $navy;

        @extend %link-border;
    }
}

body {
    &.front a {
        @extend %link-border;

        &:hover {
            border-bottom-color: $links-body;
        }

        &:active {
            border-bottom-color: transparent;
        }
    }
}

hr {
    clear: both;
    border: none;
    border-top: solid 1px $off-white;
}

td,
th {
    padding: .5em;
    border-spacing: 1em;
    border: black solid 1px;
}

th {
    color: $white;
    background-color: $primary-blue;
}

iframe,
object {
    max-width: 100%;
}

/*Grants listing table - special table */

#block-system-main {
    & > .grantslisting {
        & > div.view-content {
            & > div {
                font-size: .7em;
                overflow-x: initial;

                .glyphicon-chevron-down:before {
                    font-family: 'glyphicons halflings';
                    content: '\e114';
                }

                .glyphicon-chevron-up:before {
                    font-family: 'glyphicons halflings';
                    content: '\e113';
                }
            }
        }
    }
}

th {
    &.views-field {
        &.views-field-field-grant-end-date {
            background-color: $primary-blue;

            a {
                color: white;
                border-bottom: 1px solid white;
            }

            &.active {
                background-color: $primary-blue;

                a {
                    color: white;
                    border-bottom: 1px solid white;
                }
            }
        }

        &.views-field-field-grant-commencement-date {
            background-color: $primary-blue;

            a {
                color: white;
                border-bottom: 1px solid white;
            }

            &.active {
                background-color: $primary-blue;

                a {
                    color: white;
                    border-bottom: 1px solid white;
                }
            }
        }
    }
}

/* table-based org chart */
#org-chart {
    margin: 1em 0;
    padding: 1em;

    /* divs */

    border: #333 1px solid;

    .minister {
        min-height: 120px;
        background-color: #eee;
    }

    @media (min-width: 992px) and (max-width: 1200px) {
        .minister {
            min-height: 140px;
        }
    }

    .secretary {
        color: #fff;
        background-color: #001c30;
    }

    .opb {
        color: #fff;
        border: #005677 1px solid;
        background-color: #005677;
    }

    /* tables */
    th.header,
    td.header {
        text-align: center;
        vertical-align: top;
    }

    td {
        vertical-align: top;

        /*text-align: center;*/
    }

    .shaded {
        border: #005677 1px solid;
        background-color: #d9e6eb;
    }

    .header.shaded {
        color: #333;
    }
}