/* _typography.scss*/

/**
 * Fix fonts that render as bold in Firefox
 *
 * Put this near the top of your style.css
 * Before any overriding styles:
 * https://www.lockedowndesign.com/firefox-font-weight-too-bold/
 */

html {
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

/**
 * Firefox specific rule
 */

@-moz-document url-prefix() {
    body {
        font-weight: lighter !important;
    }
}

// End fix

html {
    font-size: $font-natural; // Set this here to define '1rem/1em'

    text-rendering: optimizeLegibility;

    @include ie {
        text-rendering: auto;
    }
}

body {
    font-family: "Montserrat", sans-serif $imp;
    font-size: $font-natural;

    // IE is special and cannot read Monserrat, it displays the incorrect weight

    @include ie {
        font-family: "Helvetica", sans-serif, "Times New Roman" $imp;
    }


    // End IE :D

    #region-content {
        p, span, ul, ol, li, dd, dt, dl, table, td, th, address, blockquote, a {
            font-size: unset; // undo a generic govCMS style that prevents simple text-resizing
       
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 18px 0 6px 0;
    margin: 1em 0 .33em 0;
}

h2,
h3,
h4,
h5,
h6 {
    color: $primary-blue $imp;
}

h1 {
    font-size: 52px;
    font-size: 2.889rem;
    color: #000;

    &.page-header {
        padding-bottom: 0;
    }
}

#main-body h1 {
    color: #000;//override #about id copied from govCMS theme (see: 'sites/all/themes/diis_theme_container/diis_theme/templates/page.tpl.php')
}

h2 {
    font-size: 40px;
    font-size: 2.222rem;
}

h3 {
    font-size: 31px;
    font-size: 1.722rem;
}

h4 {
    font-size: 25px;
    font-size: 1.389rem;
}

h5 {
    font-size: 22px;
    font-size: 1.222em;
    font-weight: 600;
}

h6 {
    font-size: 22px;
    font-size: 1.222em;
    font-style: italic;
}

p {
    font-size: $font-natural;
    font-size: 1em;
    line-height: 1.44;
    margin: 0 0 8px;
    margin: 0 0 0.4444em;
}

p:last-child {
    margin-bottom: 0.4444em;
}

li {
    margin: 8px 0;
    margin: .6em 0;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

a {
    color: $primary-blue;
    border: solid 2px transparent;

    &[tabindex] {
        border: none;
    }

    &:hover,
    &:focus {
        text-decoration: none;
        border-bottom: dotted 2px $primary-blue;
    }

    &:active {
        color: $white;
        background-color: rgba($white, 0.3);
    }
}

hr {
    clear: both;
    border: none;
    border-top: solid 1px $off-white;
}

td, th{
    border: black solid 1px;
    border-spacing: 1em;
    padding: .5em;
  

}
